In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
df = DataFrame(data={
    '张三': [150, 150, 150, 300],
    '李四': [0, 0, 0, 8],
}, index=['语文', '数学', '英语', '理综'])
df

     张三  李四
语文  150   0
数学  150   0
英语  150   0
理综  300   8

In [6]:
df['张三']

语文    150
数学    150
英语    150
理综    300
Name: 张三, dtype: int64

In [8]:
df = DataFrame(data=np.random.randint(0, 100, size=(5, 5)), index=list('ABCDE'), columns=list('甲乙丙丁戊'))
df

    甲   乙   丙   丁   戊
A  82  12  28  67  90
B  27  32   8  20  35
C  39  35  76  78  48
D  63  82  11  71  10
E  57  99  30  34  37

In [10]:
df.loc['A', '甲']

82

In [13]:
df.loc[['A', 'E']]

    甲   乙   丙   丁   戊
A  82  12  28  67  90
E  57  99  30  34  37

In [14]:
df.loc[:, '甲']

A    82
B    27
C    39
D    63
E    57
Name: 甲, dtype: int64

In [15]:
# 访问多行
df.loc[['A', 'B', 'A']]

    甲   乙   丙   丁   戊
A  82  12  28  67  90
B  27  32   8  20  35
A  82  12  28  67  90

In [17]:
# 不二列表访问
bool_list = [True, False, True, False, True]
df.loc[bool_list, '甲']

A    82
C    39
E    57
Name: 甲, dtype: int64

In [20]:
# 索引对齐
s_b_list = Series(data=bool_list, index=list('BCADE'), name='索引对齐')
s_b_list

B     True
C    False
A     True
D    False
E     True
Name: 索引对齐, dtype: bool

In [19]:
df.loc[s_b_list]

    甲   乙   丙   丁   戊
A  82  12  28  67  90
B  27  32   8  20  35
E  57  99  30  34  37

In [21]:
# 切片，显示索引的切片都是闭区间
df.loc['A':'B', '甲':'乙']

    甲   乙
A  82  12
B  27  32

In [22]:
# 切片，访问多列
df.loc[:, '丙':'戊']

    丙   丁   戊
A  28  67  90
B   8  20  35
C  76  78  48
D  11  71  10
E  30  34  37

In [30]:
name = ['lucy', 'mery', 'tom', 'jack', 'rose','fengliang','tingting']
colums = ['python', 'java', 'php', 'golang', 'c++', 'c', 'c#', 'js', '易语言']
df = DataFrame(data=np.random.randint(0,100,size=(7,9)), index=name, columns=colums)
df

           python  java  php  golang  c++   c  c#  js  易语言
lucy           90     0   14      83   74  55  29   4   21
mery           82    74   85      34    5  63  15  76   28
tom            66    65    0      26   33  47  12  64   46
jack           51    37   93      83   16  32  20  17   34
rose           76    20   11      46    8  49   0  72   10
fengliang      59    87    8      31   87  11  75  59    3
tingting       45    19   68      87   11  29  71  38   46