In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
%matplotlib inline

rename()函数：替换索引
仍然是新建一个字典
使用rename（）函数替换行索引
+ mapper替换所有索引
+ index替换行索引
+ columns替换列索引
+ level指定多维度索引的维度
1.replace属于fillna强化版，解决值的替换 字符串 数值 列表 字典 正则
2.map是Series对象的操作方法，只解决一列的映射 字典 函数 lambda表达式
3.rename解决索引的替换 字典 函数

In [5]:
columns = pd.MultiIndex.from_product([['fengliang', 'yuanyuting'], ['收入', '成本', '利润', '费用']])
# 构造多层级索引
index = np.array(['商品' + str(i) for i in range(1, 8)])

data = np.random.randint(0, 100, size=(7, 8))

df = DataFrame(data=data, index=index, columns=columns)
df

    fengliang             yuanyuting
           收入  成本  利润  费用         收入  成本  利润  费用
商品1        92  68  97   6         60   4  45  12
商品2        76  77  82   6         79  10  81  78
商品3         8  62  78  13         23  61  38  84
商品4        87  76  69  99         27  69  41  62
商品5        68  29  49  82         51  77  63  85
商品6        34  47  52  68         91  88  92  68
商品7        51  49  82  33         75  91  10  28

In [18]:
# 这个是替换data,行列用别的
df2 = df.rename(mapper={
    '商品1':'冯亮',
    'fengliang':'冯亮'
})
df2

    fengliang             yuanyuting
           收入  成本  利润  费用         收入  成本  利润  费用
冯亮         92  68  97   6         60   4  45  12
商品2        76  77  82   6         79  10  81  78
商品3         8  62  78  13         23  61  38  84
商品4        87  76  69  99         27  69  41  62
商品5        68  29  49  82         51  77  63  85
商品6        34  47  52  68         91  88  92  68
商品7        51  49  82  33         75  91  10  28

In [21]:
df3 = df.rename(index={
    '商品1':'lucy',
    2:'haha'
})
df3

     fengliang             yuanyuting
            收入  成本  利润  费用         收入  成本  利润  费用
lucy        92  68  97   6         60   4  45  12
商品2         76  77  82   6         79  10  81  78
商品3          8  62  78  13         23  61  38  84
商品4         87  76  69  99         27  69  41  62
商品5         68  29  49  82         51  77  63  85
商品6         34  47  52  68         91  88  92  68
商品7         51  49  82  33         75  91  10  28

In [22]:
df3 = df.rename(columns={
    'fengliang':'冯亮',
    'yuanyuting':'袁玉婷'
})
df3

     冯亮             袁玉婷
     收入  成本  利润  费用  收入  成本  利润  费用
商品1  92  68  97   6  60   4  45  12
商品2  76  77  82   6  79  10  81  78
商品3   8  62  78  13  23  61  38  84
商品4  87  76  69  99  27  69  41  62
商品5  68  29  49  82  51  77  63  85
商品6  34  47  52  68  91  88  92  68
商品7  51  49  82  33  75  91  10  28