In [4]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
df = pd.read_excel('/Users/fengliang/Documents/workspace/Pandas&Matplotlib/excel/多层级索引.xlsx')
df

  Unnamed: 0   一月 Unnamed: 2 Unnamed: 3   二月 Unnamed: 5 Unnamed: 6
0        NaN   收入         成本         费用   收入         成本         费用
1        商品1  374          5          3  479        479        127
2        商品2  480        214        436   99        303          3
3        商品3  365        471        428   99          5        428
4        商品4  447        211         83  342        127        480
5        商品5  211        447        471  338        338        191
6        商品6  214        215        342   83        374        191
7        商品7  365        303        215   78         78        436

In [6]:
df = pd.read_excel('/Users/fengliang/Documents/workspace/Pandas&Matplotlib/excel/多层级索引.xlsx', header=[0, 1])
df

  Unnamed: 0_level_0   一月             二月
  Unnamed: 0_level_1   收入   成本   费用   收入   成本   费用
0                商品1  374    5    3  479  479  127
1                商品2  480  214  436   99  303    3
2                商品3  365  471  428   99    5  428
3                商品4  447  211   83  342  127  480
4                商品5  211  447  471  338  338  191
5                商品6  214  215  342   83  374  191
6                商品7  365  303  215   78   78  436

In [7]:
df.columns

MultiIndex([('Unnamed: 0_level_0', 'Unnamed: 0_level_1'),
            (                '一月',                 '收入'),
            (                '一月',                 '成本'),
            (                '一月',                 '费用'),
            (                '二月',                 '收入'),
            (                '二月',                 '成本'),
            (                '二月',                 '费用')],
           )

In [8]:
# 构造多层级索引
index = np.array(['商品' + str(i) for i in range(1, 8)])
index

array(['商品1', '商品2', '商品3', '商品4', '商品5', '商品6', '商品7'], dtype='<U3')

In [9]:
columns = pd.MultiIndex.from_product([['fengliang', 'yuanyuting'], ['收入', '成本', '利润', '费用']])

data = np.random.randint(0, 100, size=(7, 8))

df2 = DataFrame(data=data, index=index, columns=columns)
df2

    fengliang             yuanyuting
           收入  成本  利润  费用         收入  成本  利润  费用
商品1        45   6  18  97         26  66  64  18
商品2        84  93  13   2         61  73  42  55
商品3        90  76  52  62         69  66  44  89
商品4         0  54  51  29         57  29  72  26
商品5        23  55  94  33         33  50  23  59
商品6        40  38  83  84         68  28  90  99
商品7        45  80  91  65         87  33   9  10

In [10]:
# 创建一个DataFrame，表示出张三李四期中期末各科成绩，（python，java，c）
columns = pd.MultiIndex.from_product([['张三', '李四'], ['期中', '期末']])
index = np.array(['python', 'java', 'c'])
df3 = DataFrame(data=np.random.randint(1, 100, size=(3, 4)), index=index, columns=columns)
df3

        张三      李四
        期中  期末  期中  期末
python  72  62  89  22
java    17  51  25  17
c       50   1  68   2

In [11]:
# 创建一个DataFrame，表示出张三李四期中期末各科成绩，（python，java，c）
columns = pd.MultiIndex.from_product([['期中', '期末'], ['python', 'java', 'c']])
index = np.array(['冯亮', '袁玉婷'])
df4 = DataFrame(data=np.random.randint(1, 100, size=(2, 6)), index=index, columns=columns)
df4

        期中              期末
    python java   c python java   c
冯亮      22   40  89     15   59  96
袁玉婷     68   68  55     14    5  16

In [12]:
# 多层行索引
index = pd.MultiIndex.from_product([['期中', '期末'], ['python', 'java', 'c']])
columns = np.array(['冯亮', '袁玉婷'])
# T方法进行转置
df5 = DataFrame(data=np.random.randint(1, 100, size=(2, 6)).T, index=index, columns=columns)
df5

           冯亮  袁玉婷
期中 python  73    3
   java    78   95
   c       74   84
期末 python  91   17
   java     1   52
   c        4    7

In [13]:
# 行、列多级索引
# 多层行索引
index = pd.MultiIndex.from_product([['大一', '大二', '大三', '大四'], ['python', 'java', 'c', 'HTML', 'Js', 'Vue']])
columns = pd.MultiIndex.from_product([['冯亮', '袁玉婷'], ['期中', '期末', '最终']])
# T方法进行转置
df6 = DataFrame(data=np.random.randint(60, 100, size=(24, 6)), index=index, columns=columns)
df6

           冯亮         袁玉婷
           期中  期末  最终  期中  期末  最终
大一 python  97  75  71  81  74  61
   java    95  77  76  90  71  78
   c       72  89  68  64  78  63
   HTML    99  99  88  76  65  83
   Js      97  84  94  88  64  94
   Vue     84  62  71  75  94  74
大二 python  74  92  63  90  72  74
   java    74  81  90  87  63  68
   c       90  90  62  78  75  87
   HTML    82  75  97  73  84  99
   Js      60  93  71  72  75  85
   Vue     81  93  84  83  70  65
大三 python  64  82  92  65  61  75
   java    69  80  87  63  81  94
   c       81  78  74  72  88  88
   HTML    78  62  76  85  61  66
   Js      67  82  68  61  81  96
   Vue     90  74  89  77  71  78
大四 python  95  89  98  82  90  84
   java    88  60  86  73  94  83
   c       79  65  63  99  61  77
   HTML    70  85  91  60  68  69
   Js      72  94  89  97  87  92
   Vue     83  98  78  79  91  94

In [14]:

# 多层索引，切片
df6.loc[:, ('冯亮', '期中')]

大一  python    97
    java      95
    c         72
    HTML      99
    Js        97
    Vue       84
大二  python    74
    java      74
    c         90
    HTML      82
    Js        60
    Vue       81
大三  python    64
    java      69
    c         81
    HTML      78
    Js        67
    Vue       90
大四  python    95
    java      88
    c         79
    HTML      70
    Js        72
    Vue       83
Name: (冯亮, 期中), dtype: int64

In [15]:
# 多层索引，切片
df6.loc[:, '冯亮']

           期中  期末  最终
大一 python  97  75  71
   java    95  77  76
   c       72  89  68
   HTML    99  99  88
   Js      97  84  94
   Vue     84  62  71
大二 python  74  92  63
   java    74  81  90
   c       90  90  62
   HTML    82  75  97
   Js      60  93  71
   Vue     81  93  84
大三 python  64  82  92
   java    69  80  87
   c       81  78  74
   HTML    78  62  76
   Js      67  82  68
   Vue     90  74  89
大四 python  95  89  98
   java    88  60  86
   c       79  65  63
   HTML    70  85  91
   Js      72  94  89
   Vue     83  98  78

In [16]:
# 多层索引，切片
df6.loc['大一', '冯亮']

        期中  期末  最终
python  97  75  71
java    95  77  76
c       72  89  68
HTML    99  99  88
Js      97  84  94
Vue     84  62  71

In [17]:
# 多层索引，切片,使用列表+元组访问

# 注意：！ 此方式不支持切片，元组表达方式，不支持切片

# 解决办法，可以先把多层级变成单层级

# 个人觉得比较好的，可以使用隐式访问，无视索引，这样就可以切片了
df6.loc[:, [('冯亮', '期中'), ('袁玉婷', '期末'), ('冯亮', '最终')]]

           冯亮 袁玉婷  冯亮
           期中  期末  最终
大一 python  97  74  71
   java    95  71  76
   c       72  78  68
   HTML    99  65  88
   Js      97  64  94
   Vue     84  94  71
大二 python  74  72  63
   java    74  63  90
   c       90  75  62
   HTML    82  84  97
   Js      60  75  71
   Vue     81  70  84
大三 python  64  61  92
   java    69  81  87
   c       81  88  74
   HTML    78  61  76
   Js      67  81  68
   Vue     90  71  89
大四 python  95  90  98
   java    88  94  86
   c       79  61  63
   HTML    70  68  91
   Js      72  87  89
   Vue     83  91  78

In [18]:
# 练习：
# 构造一个多层级列索引成绩表，分值在0-100内随机
# 一级标题为上学期和下学期，二级标题为python、java、c，行标签为tom、Lucy、jack
# 同时获取上学期和下学期tom的成绩，计算tom的各学科的平均成绩
# 获取上学期jack的python成绩，并给他加20分

index = np.array(['tom', 'lucy', 'jack'])
columns = pd.MultiIndex.from_product([['上学期', '下学期'], ['python', 'java', 'c']])
data = np.random.randint(0,100,size=(3,6))
df7 = DataFrame(data=data,index=index,columns=columns)
df7

        上学期             下学期
     python java   c python java   c
tom      80   70  94     13   45  28
lucy     59    1  35     27   78  11
jack     65   47   4     65   31  80

In [19]:
# lucy 上学期成绩，输入聚合
df7.loc['lucy','上学期'].max( )

59

In [20]:
# lucy 上学期成绩，输入聚合,这个max都有很多个，哎，注意筛选
df7.loc['lucy','上学期'].idxmax( )

'python'

In [21]:
df7.loc['tom']

上学期  python    80
     java      70
     c         94
下学期  python    13
     java      45
     c         28
Name: tom, dtype: int64

In [22]:
# 这个求的是总的成绩
df7.loc['tom'].mean(axis=0)

55.0

In [23]:
# 各科的平均成绩需要分两次求，没有直接的函数
(df7.loc['tom'].loc['上学期']+df7.loc['tom'].loc['下学期'])/2

python    46.5
java      57.5
c         61.0
Name: tom, dtype: float64

In [24]:
score = (df7.loc['tom'].loc['上学期']+df7.loc['tom'].loc['下学期'])
score

python     93
java      115
c         122
Name: tom, dtype: int64

In [25]:
# 给jack python加分
df7.loc['jack',('上学期','python')] +=20
df7

        上学期             下学期
     python java   c python java   c
tom      80   70  94     13   45  28
lucy     59    1  35     27   78  11
jack     85   47   4     65   31  80

In [27]:
# stack 提升，unstack降低层级,可以通过调整level 控制谁下来
df7.stack()

             上学期  下学期
tom  c        94   28
     java     70   45
     python   80   13
lucy c        35   11
     java      1   78
     python   59   27
jack c         4   80
     java     47   31
     python   85   65

In [29]:
# 0，1 从外往里，或者里边是-1，外边是-2
df7.stack(level=0)

          python  java   c
tom  上学期      80    70  94
     下学期      13    45  28
lucy 上学期      59     1  35
     下学期      27    78  11
jack 上学期      85    47   4
     下学期      65    31  80

In [34]:
# 转换为上下学期两行格式,从外往里是从0开始
df7_temp = df7.stack(level=0).unstack(level=0)
df7_temp

    python          java             c
      jack lucy tom jack lucy tom jack lucy tom
上学期     85   59  80   47    1  70    4   35  94
下学期     65   27  13   31   78  45   80   11  28

In [42]:
# 聚合一般纵向，一列数据相对有意义些
df7_temp.loc[:,'python'].mean(axis=1)

上学期    74.666667
下学期    35.000000
dtype: float64

In [46]:
# 计算各个科目上下学期的平均成绩
df7.mean()

上学期  python    74.666667
     java      39.333333
     c         44.333333
下学期  python    35.000000
     java      51.333333
     c         39.666667
dtype: float64

In [48]:
# 计算各个科目张三李四的最高分
df7.max(axis=1)

tom     94
lucy    78
jack    85
dtype: int64

In [55]:
# 分别获取上下学期各个同学的最高分,求完了过后，可以再变回来，真的是666 
df7.stack(0).max(axis=1).unstack(1)

      上学期  下学期
jack   85   80
lucy   59   78
tom    94   45

In [60]:
df7.stack(level=1).mean(axis=1).unstack(level=1)

         c  java  python
jack  42.0  39.0    75.0
lucy  23.0  39.5    43.0
tom   61.0  57.5    46.5

In [71]:
df7.stack(level=0).loc[['tom','jack']].mean()

          python  java   c
tom  上学期      80    70  94
     下学期      13    45  28
jack 上学期      85    47   4
     下学期      65    31  80