In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df = pd.read_excel('/Users/fengliang/Documents/workspace/Pandas&Matplotlib/excel/多层级索引.xlsx')
df

  Unnamed: 0   一月 Unnamed: 2 Unnamed: 3   二月 Unnamed: 5 Unnamed: 6
0        NaN   收入         成本         费用   收入         成本         费用
1        商品1  374          5          3  479        479        127
2        商品2  480        214        436   99        303          3
3        商品3  365        471        428   99          5        428
4        商品4  447        211         83  342        127        480
5        商品5  211        447        471  338        338        191
6        商品6  214        215        342   83        374        191
7        商品7  365        303        215   78         78        436

In [5]:
df = pd.read_excel('/Users/fengliang/Documents/workspace/Pandas&Matplotlib/excel/多层级索引.xlsx', header=[0, 1])
df

  Unnamed: 0_level_0   一月             二月
  Unnamed: 0_level_1   收入   成本   费用   收入   成本   费用
0                商品1  374    5    3  479  479  127
1                商品2  480  214  436   99  303    3
2                商品3  365  471  428   99    5  428
3                商品4  447  211   83  342  127  480
4                商品5  211  447  471  338  338  191
5                商品6  214  215  342   83  374  191
6                商品7  365  303  215   78   78  436

In [6]:
df.columns

MultiIndex([('Unnamed: 0_level_0', 'Unnamed: 0_level_1'),
            (                '一月',                 '收入'),
            (                '一月',                 '成本'),
            (                '一月',                 '费用'),
            (                '二月',                 '收入'),
            (                '二月',                 '成本'),
            (                '二月',                 '费用')],
           )

In [9]:
# 构造多层级索引
index = np.array(['商品' + str(i) for i in range(1, 8)])
index

array(['商品1', '商品2', '商品3', '商品4', '商品5', '商品6', '商品7'], dtype='<U3')

In [13]:
columns = pd.MultiIndex.from_product([['fengliang', 'yuanyuting'], ['收入', '成本', '利润', '费用']])

data = np.random.randint(0, 100, size=(7, 8))

df2 = DataFrame(data=data, index=index, columns=columns)
df2

    fengliang             yuanyuting
           收入  成本  利润  费用         收入  成本  利润  费用
商品1         4  40  75  54         23  17  74  72
商品2        50  10  35  76         36  67  15  51
商品3        33  81  80   7         82  98   6  57
商品4         2  20  74  64         80  23  61  50
商品5        49  19  21  14          0  45  93   1
商品6        25  88  73  43         39  72  26  71
商品7        59  76  75  37         47  27  71  83

In [17]:
# 创建一个DataFrame，表示出张三李四期中期末各科成绩，（python，java，c）
columns = pd.MultiIndex.from_product([['张三', '李四'], ['期中', '期末']])
index = np.array(['python', 'java', 'c'])
df3 = DataFrame(data=np.random.randint(1, 100, size=(3, 4)), index=index, columns=columns)
df3

        张三      李四
        期中  期末  期中  期末
python  87  33  55  37
java    25  92  35  36
c       89  83  48  87

In [19]:
# 创建一个DataFrame，表示出张三李四期中期末各科成绩，（python，java，c）
columns = pd.MultiIndex.from_product([['期中', '期末'], ['python', 'java', 'c']])
index = np.array(['冯亮', '袁玉婷'])
df4 = DataFrame(data=np.random.randint(1, 100, size=(2, 6)), index=index, columns=columns)
df4

        期中              期末
    python java   c python java   c
冯亮      51   33  83     86   32  91
袁玉婷     47   32  57     21   75  10

In [21]:
# 多层行索引
index = pd.MultiIndex.from_product([['期中', '期末'], ['python', 'java', 'c']])
columns = np.array(['冯亮', '袁玉婷'])
# T方法进行转置
df5 = DataFrame(data=np.random.randint(1, 100, size=(2, 6)).T, index=index, columns=columns)
df5

           冯亮  袁玉婷
期中 python  26   48
   java    50   69
   c       93   29
期末 python  63   55
   java    34   44
   c       17   73

In [24]:
# 行、列多级索引
# 多层行索引
index = pd.MultiIndex.from_product([['大一', '大二', '大三', '大四'], ['python', 'java', 'c', 'HTML', 'Js', 'Vue']])
columns = pd.MultiIndex.from_product([['冯亮', '袁玉婷'], ['期中', '期末', '最终']])
# T方法进行转置
df6 = DataFrame(data=np.random.randint(60, 100, size=(24, 6)), index=index, columns=columns)
df6

           冯亮         袁玉婷
           期中  期末  最终  期中  期末  最终
大一 python  98  95  96  70  99  77
   java    65  62  83  85  71  88
   c       78  90  96  82  63  96
   HTML    71  66  60  95  82  64
   Js      90  83  98  62  69  98
   Vue     95  77  79  97  62  98
大二 python  84  94  90  70  92  62
   java    66  94  63  84  83  75
   c       82  79  82  89  89  85
   HTML    92  66  79  61  81  60
   Js      83  82  62  86  87  88
   Vue     97  97  68  78  84  61
大三 python  87  90  61  82  77  77
   java    84  96  60  62  77  78
   c       70  98  70  64  78  95
   HTML    97  97  92  89  73  77
   Js      74  63  80  60  86  79
   Vue     92  89  69  72  90  73
大四 python  93  97  85  66  73  64
   java    66  71  82  62  68  84
   c       68  70  80  88  71  95
   HTML    66  91  91  74  74  81
   Js      69  66  73  97  91  80
   Vue     78  92  71  84  62  88

In [37]:

# 多层索引，切片
df6.loc[:, ('冯亮', '期中')]

大一  python    98
    java      65
    c         78
    HTML      71
    Js        90
    Vue       95
大二  python    84
    java      66
    c         82
    HTML      92
    Js        83
    Vue       97
大三  python    87
    java      84
    c         70
    HTML      97
    Js        74
    Vue       92
大四  python    93
    java      66
    c         68
    HTML      66
    Js        69
    Vue       78
Name: (冯亮, 期中), dtype: int64

In [41]:
# 多层索引，切片
df6.loc[:, '冯亮']

           期中  期末  最终
大一 python  98  95  96
   java    65  62  83
   c       78  90  96
   HTML    71  66  60
   Js      90  83  98
   Vue     95  77  79
大二 python  84  94  90
   java    66  94  63
   c       82  79  82
   HTML    92  66  79
   Js      83  82  62
   Vue     97  97  68
大三 python  87  90  61
   java    84  96  60
   c       70  98  70
   HTML    97  97  92
   Js      74  63  80
   Vue     92  89  69
大四 python  93  97  85
   java    66  71  82
   c       68  70  80
   HTML    66  91  91
   Js      69  66  73
   Vue     78  92  71

In [43]:
# 多层索引，切片
df6.loc['大一', '冯亮']

        期中  期末  最终
python  98  95  96
java    65  62  83
c       78  90  96
HTML    71  66  60
Js      90  83  98
Vue     95  77  79

In [45]:
# 多层索引，切片,使用列表+元组访问

# 注意：！ 此方式不支持切片，元组表达方式，不支持切片

# 解决办法，可以先把多层级变成单层级

# 个人觉得比较好的，可以使用隐式访问，无视索引，这样就可以切片了
df6.loc[:, [('冯亮', '期中'), ('袁玉婷', '期末'), ('冯亮', '最终')]]

           冯亮 袁玉婷  冯亮
           期中  期末  最终
大一 python  98  99  96
   java    65  71  83
   c       78  63  96
   HTML    71  82  60
   Js      90  69  98
   Vue     95  62  79
大二 python  84  92  90
   java    66  83  63
   c       82  89  82
   HTML    92  81  79
   Js      83  87  62
   Vue     97  84  68
大三 python  87  77  61
   java    84  77  60
   c       70  78  70
   HTML    97  73  92
   Js      74  86  80
   Vue     92  90  69
大四 python  93  73  85
   java    66  68  82
   c       68  71  80
   HTML    66  74  91
   Js      69  91  73
   Vue     78  62  71

In [47]:
# 练习：
# 构造一个多层级列索引成绩表，分值在0-100内随机
# 一级标题为上学期和下学期，二级标题为python、java、c，行标签为tom、Lucy、jack
# 同时获取上学期和下学期tom的成绩，计算tom的各学科的平均成绩
# 获取上学期jack的python成绩，并给他加20分

index = np.array(['tom', 'lucy', 'jack'])
columns = pd.MultiIndex.from_product([['上学期', '下学期'], ['python', 'java', 'c']])
data = np.random.randint(0,100,size=(3,6))
df7 = DataFrame(data=data,index=index,columns=columns)
df7

        上学期             下学期
     python java   c python java   c
tom      75   14  78     70   69  70
lucy     97   92  19     29   57  79
jack     31   39  34     68   91  81

In [61]:
# lucy 上学期成绩，输入聚合
df7.loc['lucy','上学期'].max( )

97

In [66]:
# lucy 上学期成绩，输入聚合,这个max都有很多个，哎，注意筛选
df7.loc['lucy','上学期'].idxmax( )

'python'

In [54]:
df7.loc['tom']

上学期  python    75
     java      14
     c         78
下学期  python    70
     java      69
     c         70
Name: tom, dtype: int64

In [56]:
# 这个求的是总的成绩
df7.loc['tom'].mean(axis=0)

62.666666666666664

In [72]:
# 各科的平均成绩需要分两次求，没有直接的函数
(df7.loc['tom'].loc['上学期']+df7.loc['tom'].loc['下学期'])/2

python    72.5
java      41.5
c         74.0
Name: tom, dtype: float64

In [79]:
score = (df7.loc['tom'].loc['上学期']+df7.loc['tom'].loc['下学期'])
score

python    145
java       83
c         148
Name: tom, dtype: int64

In [82]:
# 给jack python加分
df7.loc['jack',('上学期','python')] +=20
df7

        上学期             下学期
     python java   c python java   c
tom      75   14  78     70   69  70
lucy     97   92  19     29   57  79
jack     71   39  34     68   91  81