In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
df = DataFrame(data=np.random.randint(0,100,size=(5,4)),columns=list('ABCD'))
df

    A   B   C   D
0  75  17  71   9
1  88   9  32  15
2  40  13  11   4
3  57  44   2  22
4  77  17   1   0

In [12]:
df.loc[1,'A'] = None
df

      A   B   C   D
0  75.0  17  71   9
1   NaN   9  32  15
2  40.0  13  11   4
3  57.0  44   2  22
4  77.0  17   1   0

In [13]:
df.loc[2,'C']= np.nan
df

      A   B     C   D
0  75.0  17  71.0   9
1   NaN   9  32.0  15
2  40.0  13   NaN   4
3  57.0  44   2.0  22
4  77.0  17   1.0   0

In [21]:
df.isnull()

       A      B      C      D
0  False  False  False  False
1   True  False  False  False
2  False  False   True  False
3  False  False  False  False
4  False  False  False  False

In [22]:
# 这是看‘A’ 存在空的情况
df.loc[df.loc[:,'A'].isnull()]

    A  B     C   D
1 NaN  9  32.0  15

In [26]:
# 行方向
df.isnull().any(axis=1)

0    False
1     True
2     True
3    False
4    False
dtype: bool

In [27]:
 # 然后看行方向数据筛选
df.loc[df.isnull().any(axis=1)]

      A   B     C   D
1   NaN   9  32.0  15
2  40.0  13   NaN   4