In [7]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
# 创建一个DataFrame，表示出张三李四期中期末各科成绩，（python，java，c）
columns = pd.MultiIndex.from_product([['张三', '李四'], ['期中', '期末']])
index = np.array(['python', 'java', 'c'])
df = DataFrame(data=np.random.randint(1, 100, size=(3, 4)), index=index, columns=columns)
df

        张三      李四
        期中  期末  期中  期末
python  10  27  83  95
java    28  37  17  24
c       31  51  84  67

In [9]:
# 练习：
# 构造一个多层级列索引成绩表，分值在0-100内随机
# 一级标题为上学期和下学期，二级标题为python、java、c，行标签为tom、Lucy、jack
# 同时获取上学期和下学期tom的成绩，计算tom的各学科的平均成绩
# 获取上学期jack的python成绩，并给他加20分

index = np.array(['tom', 'lucy', 'jack'])
columns = pd.MultiIndex.from_product([['上学期', '下学期'], ['python', 'java', 'c']])
data = np.random.randint(0,100,size=(3,6))
df1 = DataFrame(data=data,index=index,columns=columns)
df1

        上学期             下学期
     python java   c python java   c
tom      95   47  34     80   77  33
lucy      7   46  93     94   93  50
jack     64   52  51     39   25  88

In [10]:
# 练习13:
# 想一想级联的应用场景
# 使用昨天的知识，建立一个期中考试张三、李四的成绩表ddd
# 假设新增考试学科‘计算机’，如何实现
# 新增王老五的成绩，如何实现？
#【使用级联来实现】
# 测试，这里使用了外接蓝牙键盘

In [11]:
columns = np.array(['语文','数学'])
index = np.array(['张三','李四'])
df2 = DataFrame(data=np.random.randint(40,100,size=(2,2)) ,index=index, columns= columns)
df2

    语文  数学
张三  71  40
李四  48  95

In [12]:
columns = np.array(['计算机'])
index = np.array(['张三','李四'])
df3 = DataFrame(data=np.random.randint(40,100,size=(2,1)) ,index=index, columns= columns)
df3

    计算机
张三   79
李四   61

In [14]:
# 能够匹配的级联,默认纵向
pd4 = pd.concat((df2,df3))
pd4

      语文    数学   计算机
张三  71.0  40.0   NaN
李四  48.0  95.0   NaN
张三   NaN   NaN  79.0
李四   NaN   NaN  61.0

In [15]:
# 能够匹配的级联,改为横向
pd5 = pd.concat((df2,df3),axis=1)
pd5

    语文  数学  计算机
张三  71  40   79
李四  48  95   61

In [18]:
# 新增王老五的成绩单
score_wang = DataFrame(data=np.random.randint(40,100,size=(1,3)),index = ['王五'],columns=pd5.columns)
score_wang

    语文  数学  计算机
王五  91  78   80

In [20]:
pd6 = pd.concat((pd5,score_wang))
pd6

    语文  数学  计算机
张三  71  40   79
李四  48  95   61
王五  91  78   80

In [24]:
columns = np.array(list('AB玉婷EF冯亮'))
data = np.random.randint(1,10,size=(6,8))
df7 = DataFrame(data=data,columns=columns)
df7

   A  B  玉  婷  E  F  冯  亮
0  4  8  5  5  8  6  6  3
1  6  2  5  1  2  6  8  7
2  6  2  7  4  7  3  9  6
3  7  8  2  6  1  8  4  9
4  1  4  2  8  8  3  6  7
5  1  8  1  9  4  5  7  2

In [28]:
columns = np.array(list('AB苹果EF香蕉'))
data = np.random.randint(100,200,size=(9,8))
df8 = DataFrame(data=data,columns=columns)
df8.drop(labels=3,axis=0,inplace=True)
df8

     A    B    苹    果    E    F    香    蕉
0  139  197  139  155  107  172  117  144
1  119  156  147  169  160  185  183  114
2  157  183  107  199  192  177  141  161
4  161  194  141  146  106  174  104  105
5  131  162  151  148  176  104  183  152
6  119  130  198  182  174  145  142  121
7  100  125  144  104  131  132  139  199
8  158  163  139  164  186  101  173  138

In [35]:
# inner内连接，outer外连接
df9 = pd.concat((df7,df8),join='outer',axis=1)
df9

,A,B,玉,婷,E,F,冯,亮,A,B,苹,果,E,F,香,蕉
0,4.0,8.0,5.0,5.0,8.0,6.0,6.0,3.0,139.0,197.0,139.0,155.0,107.0,172.0,117.0,144.0
1,6.0,2.0,5.0,1.0,2.0,6.0,8.0,7.0,119.0,156.0,147.0,169.0,160.0,185.0,183.0,114.0
2,6.0,2.0,7.0,4.0,7.0,3.0,9.0,6.0,157.0,183.0,107.0,199.0,192.0,177.0,141.0,161.0
3,7.0,8.0,2.0,6.0,1.0,8.0,4.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,4.0,2.0,8.0,8.0,3.0,6.0,7.0,161.0,194.0,141.0,146.0,106.0,174.0,104.0,105.0
5,1.0,8.0,1.0,9.0,4.0,5.0,7.0,2.0,131.0,162.0,151.0,148.0,176.0,104.0,183.0,152.0
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119.0,130.0,198.0,182.0,174.0,145.0,142.0,121.0
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,125.0,144.0,104.0,131.0,132.0,139.0,199.0
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,158.0,163.0,139.0,164.0,186.0,101.0,173.0,138.0