In [14]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
%matplotlib inline

In [15]:
# 创建一个DataFrame，表示出张三李四期中期末各科成绩，（python，java，c）
columns = pd.MultiIndex.from_product([['张三', '李四'], ['期中', '期末']])
index = np.array(['python', 'java', 'c'])
df = DataFrame(data=np.random.randint(1, 100, size=(3, 4)), index=index, columns=columns)
df

        张三      李四
        期中  期末  期中  期末
python  28  34   1  49
java    32  90  11  24
c       90  95  29  24

In [16]:
# 练习：
# 构造一个多层级列索引成绩表，分值在0-100内随机
# 一级标题为上学期和下学期，二级标题为python、java、c，行标签为tom、Lucy、jack
# 同时获取上学期和下学期tom的成绩，计算tom的各学科的平均成绩
# 获取上学期jack的python成绩，并给他加20分

index = np.array(['tom', 'lucy', 'jack'])
columns = pd.MultiIndex.from_product([['上学期', '下学期'], ['python', 'java', 'c']])
data = np.random.randint(0,100,size=(3,6))
df1 = DataFrame(data=data,index=index,columns=columns)
df1

        上学期             下学期
     python java   c python java   c
tom      46   52  41     53   10  27
lucy     65   73  30     73   75  38
jack     88   46  54     40   95   4

In [17]:
# 练习13:
# 想一想级联的应用场景
# 使用昨天的知识，建立一个期中考试张三、李四的成绩表ddd
# 假设新增考试学科‘计算机’，如何实现
# 新增王老五的成绩，如何实现？
#【使用级联来实现】
# 测试，这里使用了外接蓝牙键盘

In [18]:
columns = np.array(['语文','数学'])
index = np.array(['张三','李四'])
df2 = DataFrame(data=np.random.randint(40,100,size=(2,2)) ,index=index, columns= columns)
df2

    语文  数学
张三  65  71
李四  60  48

In [19]:
columns = np.array(['计算机'])
index = np.array(['张三','李四'])
df3 = DataFrame(data=np.random.randint(40,100,size=(2,1)) ,index=index, columns= columns)
df3

    计算机
张三   61
李四   54

In [20]:
# 能够匹配的级联,默认纵向
pd4 = pd.concat((df2,df3))
pd4

      语文    数学   计算机
张三  65.0  71.0   NaN
李四  60.0  48.0   NaN
张三   NaN   NaN  61.0
李四   NaN   NaN  54.0

In [21]:
# 能够匹配的级联,改为横向
pd5 = pd.concat((df2,df3),axis=1)
pd5

    语文  数学  计算机
张三  65  71   61
李四  60  48   54

In [22]:
# 新增王老五的成绩单
score_wang = DataFrame(data=np.random.randint(40,100,size=(1,3)),index = ['王五'],columns=pd5.columns)
score_wang

    语文  数学  计算机
王五  68  98   53

In [23]:
pd6 = pd.concat((pd5,score_wang))
pd6

    语文  数学  计算机
张三  65  71   61
李四  60  48   54
王五  68  98   53

In [24]:
columns = np.array(list('AB玉婷EF冯亮'))
data = np.random.randint(1,10,size=(6,8))
df7 = DataFrame(data=data,columns=columns)
df7

   A  B  玉  婷  E  F  冯  亮
0  8  4  3  8  7  9  6  1
1  7  6  9  9  5  4  9  7
2  8  1  2  4  8  7  3  2
3  6  8  2  7  6  9  3  5
4  8  6  8  6  3  4  5  4
5  3  8  2  3  8  6  4  4

In [25]:
columns = np.array(list('XB苹果EF香蕉'))
data = np.random.randint(100,200,size=(9,8))
df8 = DataFrame(data=data,columns=columns)
df8.drop(labels=3,axis=0,inplace=True)
df8

     X    B    苹    果    E    F    香    蕉
0  176  171  137  135  182  104  184  187
1  195  171  159  122  187  140  102  107
2  177  145  123  178  174  174  151  199
4  186  101  120  186  115  195  191  195
5  111  194  189  141  124  135  129  197
6  138  115  150  173  156  169  131  161
7  102  123  137  108  149  167  154  133
8  100  163  197  144  172  100  195  159

In [27]:
# inner内连接，outer外连接
df9 = pd.concat((df7,df8),join='outer',axis=0)
df9

     A    B    玉    婷    E    F    冯    亮      X      苹      果      香      蕉
0  8.0    4  3.0  8.0    7    9  6.0  1.0    NaN    NaN    NaN    NaN    NaN
1  7.0    6  9.0  9.0    5    4  9.0  7.0    NaN    NaN    NaN    NaN    NaN
2  8.0    1  2.0  4.0    8    7  3.0  2.0    NaN    NaN    NaN    NaN    NaN
3  6.0    8  2.0  7.0    6    9  3.0  5.0    NaN    NaN    NaN    NaN    NaN
4  8.0    6  8.0  6.0    3    4  5.0  4.0    NaN    NaN    NaN    NaN    NaN
5  3.0    8  2.0  3.0    8    6  4.0  4.0    NaN    NaN    NaN    NaN    NaN
0  NaN  171  NaN  NaN  182  104  NaN  NaN  176.0  137.0  135.0  184.0  187.0
1  NaN  171  NaN  NaN  187  140  NaN  NaN  195.0  159.0  122.0  102.0  107.0
2  NaN  145  NaN  NaN  174  174  NaN  NaN  177.0  123.0  178.0  151.0  199.0
4  NaN  101  NaN  NaN  115  195  NaN  NaN  186.0  120.0  186.0  191.0  195.0
5  NaN  194  NaN  NaN  124  135  NaN  NaN  111.0  189.0  141.0  129.0  197.0
6  NaN  115  NaN  NaN  156  169  NaN  NaN  138.0  150.0  173.0  131.0  161.0
7  NaN  123  NaN  NaN  149  167  NaN  NaN  102.0  137.0  108.0  154.0  133.0
8  NaN  163  NaN  NaN  172  100  NaN  NaN  100.0  197.0  144.0  195.0  159.0