In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
df = DataFrame(data={
    '张三': [150, 150, 150, 300],
    '李四': [0, 0, 0, 8],
}, index=['语文', '数学', '英语', '理综'])
df

     张三  李四
语文  150   0
数学  150   0
英语  150   0
理综  300   8

In [6]:
df['张三']

语文    150
数学    150
英语    150
理综    300
Name: 张三, dtype: int64

In [8]:
df = DataFrame(data=np.random.randint(0, 100, size=(5, 5)), index=list('ABCDE'), columns=list('甲乙丙丁戊'))
df

    甲   乙   丙   丁   戊
A  82  12  28  67  90
B  27  32   8  20  35
C  39  35  76  78  48
D  63  82  11  71  10
E  57  99  30  34  37

In [10]:
df.loc['A', '甲']

82

In [13]:
df.loc[['A', 'E']]

    甲   乙   丙   丁   戊
A  82  12  28  67  90
E  57  99  30  34  37

In [14]:
df.loc[:, '甲']

A    82
B    27
C    39
D    63
E    57
Name: 甲, dtype: int64

In [15]:
# 访问多行
df.loc[['A', 'B', 'A']]

    甲   乙   丙   丁   戊
A  82  12  28  67  90
B  27  32   8  20  35
A  82  12  28  67  90

In [17]:
# 不二列表访问
bool_list = [True, False, True, False, True]
df.loc[bool_list, '甲']

A    82
C    39
E    57
Name: 甲, dtype: int64

In [20]:
# 索引对齐
s_b_list = Series(data=bool_list, index=list('BCADE'), name='索引对齐')
s_b_list

B     True
C    False
A     True
D    False
E     True
Name: 索引对齐, dtype: bool

In [19]:
df.loc[s_b_list]

    甲   乙   丙   丁   戊
A  82  12  28  67  90
B  27  32   8  20  35
E  57  99  30  34  37

In [21]:
# 切片，显示索引的切片都是闭区间
df.loc['A':'B', '甲':'乙']

    甲   乙
A  82  12
B  27  32

In [22]:
# 切片，访问多列
df.loc[:, '丙':'戊']

    丙   丁   戊
A  28  67  90
B   8  20  35
C  76  78  48
D  11  71  10
E  30  34  37

In [43]:
# 使用np.array 构造，有利于调用方法
name_test = np.array( ['lucy', 'mery', 'tom', 'jack', 'rose','fengliang','tingting'])
name_test

array(['lucy', 'mery', 'tom', 'jack', 'rose', 'fengliang', 'tingting'],
      dtype='<U9')

In [41]:
# 使用np.array 构造，有利于调用方法
name_test1 =  ['lucy', 'mery', 'tom', 'jack', 'rose','fengliang','tingting']
name_test1

['lucy', 'mery', 'tom', 'jack', 'rose', 'fengliang', 'tingting']

In [ ]:
array = np.array()

In [38]:
# 使用np.array 构造，有利于调用方法
name = np.array( ['lucy', 'mery', 'tom', 'jack', 'rose','fengliang','tingting'])
columns = np.array( ['python', 'java', 'php', 'golang', 'c++', 'c', 'c#', 'js', '易语言'])
df = DataFrame(data=np.random.randint(40,100,size=(name.size,columns.size)), index=name, columns=columns)
df

           python  java  php  golang  c++   c  c#  js  易语言
lucy           95    50   52      92   79  88  47  84   85
mery           96    92   76      89   41  76  84  52   89
tom            61    97   61      84   63  65  76  41   84
jack           49    72   81      75   76  42  91  41   59
rose           79    47   41      83   84  51  69  88   55
fengliang      98    99   94      81   46  67  68  79   81
tingting       91    77   62      86   49  49  59  66   44

In [49]:
# 找出Java成绩大于60的
java_score = df.loc[:,'java']>60
java_score

lucy         False
mery          True
tom           True
jack          True
rose         False
fengliang     True
tingting      True
Name: java, dtype: bool

In [50]:
# 找出Java成绩大于60的
java_score = df.loc[:,'java']>60
df.loc[java_score,:]

           python  java  php  golang  c++   c  c#  js  易语言
mery           96    92   76      89   41  76  84  52   89
tom            61    97   61      84   63  65  76  41   84
jack           49    72   81      75   76  42  91  41   59
fengliang      98    99   94      81   46  67  68  79   81
tingting       91    77   62      86   49  49  59  66   44

In [56]:
# 找出Python成绩大于平均值的所有信息
python_mean = df.loc[:,'python'].mean()
python_mean

81.28571428571429

In [61]:
df.loc[:,'python']>python_mean

lucy          True
mery          True
tom          False
jack         False
rose         False
fengliang     True
tingting      True
Name: python, dtype: bool

In [59]:
df.loc[df.loc[:,'python']>python_mean]

           python  java  php  golang  c++   c  c#  js  易语言
lucy           95    50   52      92   79  88  47  84   85
mery           96    92   76      89   41  76  84  52   89
fengliang      98    99   94      81   46  67  68  79   81
tingting       91    77   62      86   49  49  59  66   44

In [63]:
# 给jack的java成绩加10分
df.loc['jack','java']+=10

In [70]:
# 获取只包含name和python列的子表
name_column = np.array(df.index)
name_column

array(['lucy', 'mery', 'tom', 'jack', 'rose', 'fengliang', 'tingting'],
      dtype=object)

In [73]:
df2 = DataFrame(data={
    'name':name_column,
    'python':np.array(df.loc[:,'python'])
},index=None)
df2

        name  python
0       lucy      95
1       mery      96
2        tom      61
3       jack      49
4       rose      79
5  fengliang      98
6   tingting      91

In [90]:
df3 = df
df3.index.name='name'
df3

           python  java  php  golang  c++   c  c#  js  易语言
name
lucy           75    30   32      72   59  68  27  64   65
mery           76    72   56      69   21  56  64  32   69
tom            41    77   41      64   43  45  56  21   64
jack           29    62   61      55   56  22  71  21   39
rose           59    27   21      63   64  31  49  68   35
fengliang      78    79   74      61   26  47  48  59   61
tingting       71    57   42      66   29  29  39  46   24

In [91]:
df3 -= 10
df3

           python  java  php  golang  c++   c  c#  js  易语言
name
lucy           65    20   22      62   49  58  17  54   55
mery           66    62   46      59   11  46  54  22   59
tom            31    67   31      54   33  35  46  11   54
jack           19    52   51      45   46  12  61  11   29
rose           49    17   11      53   54  21  39  58   25
fengliang      68    69   64      51   16  37  38  49   51
tingting       61    47   32      56   19  19  29  36   14

In [97]:
df > df.loc['fengliang']

           python   java    php  golang    c++      c     c#     js    易语言
name
lucy        False  False  False    True   True   True  False   True   True
mery        False  False  False    True  False   True   True  False   True
tom         False  False  False    True   True  False   True  False   True
jack        False  False  False   False   True  False   True  False  False
rose        False  False  False    True   True  False   True   True  False
fengliang   False  False  False   False  False  False  False  False  False
tingting    False  False  False    True   True  False  False  False  False

In [103]:
# 计算所有人所有学科是否大于该学科的平均成绩
avg_score = df.mean(axis=0)
avg_score.astype(np.int32)

python    51
java      47
php       36
golang    54
c++       32
c         32
c#        40
js        34
易语言       41
dtype: int32

In [104]:
df > avg_score

           python   java    php  golang    c++      c     c#     js    易语言
name
lucy         True  False  False    True   True   True  False   True   True
mery         True   True   True    True  False   True   True  False   True
tom         False   True  False   False   True   True   True  False   True
jack        False   True   True   False   True  False   True  False  False
rose        False  False  False   False   True  False  False   True  False
fengliang    True   True   True   False  False   True  False   True   True
tingting     True  False  False    True  False  False  False   True  False

In [111]:
df_avg = df > avg_score
df_avg

           python   java    php  golang    c++      c     c#     js    易语言
name
lucy         True  False  False    True   True   True  False   True   True
mery         True   True   True    True  False   True   True  False   True
tom         False   True  False   False   True   True   True  False   True
jack        False   True   True   False   True  False   True  False  False
rose        False  False  False   False   True  False  False   True  False
fengliang    True   True   True   False  False   True  False   True   True
tingting     True  False  False    True  False  False  False   True  False

In [113]:
df_avg.duplicated()

name
lucy         False
mery         False
tom          False
jack         False
rose         False
fengliang    False
tingting     False
dtype: bool

In [123]:
df_avg.loc[:,:].value_counts()

python  java   php    golang  c++    c      c#     js     易语言
False   False  False  False   True   False  False  True   False    1
        True   False  False   True   True   True   False  True     1
               True   False   True   False  True   False  False    1
True    False  False  True    False  False  False  True   False    1
                              True   True   False  True   True     1
        True   True   False   False  True   False  True   True     1
                      True    False  True   True   False  True     1
Name: count, dtype: int64

In [121]:
df_avg.value_counts()

python  java   php    golang  c++    c      c#     js     易语言
False   False  False  False   True   False  False  True   False    1
        True   False  False   True   True   True   False  True     1
               True   False   True   False  True   False  False    1
True    False  False  True    False  False  False  True   False    1
                              True   True   False  True   True     1
        True   True   False   False  True   False  True   True     1
                      True    False  True   True   False  True     1
Name: count, dtype: int64