In [2]:
import pandas as pd
# 文件路径
path = '/Users/fengliang/Documents/workspace/Pandas&Matplotlib/excel/2023年社保卡、代发工资任务进度表(10月31日).xlsx'
# 读取Excel文件，并指定多层索引的列名，指定sheet
df_excel = pd.read_excel(path, sheet_name='网点进度表', header=[1,2], index_col=[0,1,2])
# 保留4位小数
df_excel = df_excel.round(4)
df_excel

                      新增社保卡                                         卡余额净增  \
                       全年任务 4季度任务    年初发卡量    目前发卡量   完成数     完成率    全年任务
营业部     2440   营业部  30.0000  30.0   8628.0   8646.0  18.0  0.6000   793.0
潼川      2492   潼川   55.0000  55.0  12128.0  12207.0  79.0  1.4364  1051.0
        2495   梓锦   30.0000  30.0   7138.0   7221.0  83.0  2.7667   528.0
北坝      2493   百顷   35.0000  35.0   3745.0   3745.0   0.0  0.0000   573.0
        2496   东山   35.0000  35.0   4878.0   4860.0 -18.0 -0.5143   569.0
...                     ...   ...      ...      ...   ...     ...     ...
2022年   社保卡覆盖率 合计    0.5439   NaN      NaN      NaN   NaN     NaN     NaN
2023年7月 社保卡覆盖率 合计    0.5477   NaN      NaN      NaN   NaN     NaN     NaN
目前完成    提长率    合计    0.0038   NaN      NaN      NaN   NaN     NaN     NaN
目标      提长率    合计    0.0027   NaN      NaN      NaN   NaN     NaN     NaN
完成率     完成率    合计    1.4000   NaN      NaN      NaN   NaN     NaN     NaN

                                                    ... 卡均交易笔数                 \
                     4季度任务   2022年社保卡余额    目前社保卡余额  ...   全年任务 4季度任务      完成数
营业部     2440   营业部   793.0  2853.683267  3691.3171  ...   40.0  40.0  35.4900
潼川      2492   潼川   1051.0  3336.909861  4045.6113  ...   50.0  50.0  39.3400
        2495   梓锦    528.0  1834.574029  2386.4219  ...   58.0  58.0  48.2700
北坝      2493   百顷    573.0   737.054836   774.4668  ...   40.0  40.0  28.5500
        2496   东山    569.0   988.251925  1273.9929  ...   38.0  38.0  27.8600
...                    ...          ...        ...  ...    ...   ...      ...
2022年   社保卡覆盖率 合计      NaN    年初社保卡卡均余额     0.2542  ...    NaN   NaN      NaN
2023年7月 社保卡覆盖率 合计      NaN      社保卡卡均余额     0.3218  ...    NaN   NaN      NaN
目前完成    提长率    合计      NaN           净增     0.0676  ...    NaN   NaN  26.5500
目标      提长率    合计      NaN           目标     0.0680  ...    NaN   NaN  40.0000
完成率     完成率    合计      NaN          完成率     0.9941  ...    NaN   NaN   0.6638

                           代发工资
                       完成率 全年任务 4季度任务 2022年代发户数 目前代发户数  完成数  完成率
营业部     2440   营业部  0.8873  4.0   4.0      24.0   28.0  4.0  1.0
潼川      2492   潼川   0.7868  2.0   2.0       1.0    2.0  1.0  0.5
        2495   梓锦   0.8322  0.0   0.0       1.0    1.0  0.0  NaN
北坝      2493   百顷   0.7138  0.0   0.0       0.0    0.0  0.0  NaN
        2496   东山   0.7332  0.0   0.0       0.0    1.0  1.0  NaN
...                    ...  ...   ...       ...    ...  ...  ...
2022年   社保卡覆盖率 合计      NaN  NaN   NaN       NaN    NaN  NaN  NaN
2023年7月 社保卡覆盖率 合计      NaN  NaN   NaN       NaN    NaN  NaN  NaN
目前完成    提长率    合计      NaN  NaN   NaN       NaN    NaN  NaN  NaN
目标      提长率    合计      NaN  NaN   NaN       NaN    NaN  NaN  NaN
完成率     完成率    合计      NaN  NaN   NaN       NaN    NaN  NaN  NaN

[77 rows x 22 columns]

In [32]:
df_excel.shape

(77, 22)

In [14]:
df_excel.index

MultiIndex([(     '潼川',     2492,  '潼川'),
            (     '潼川',     2495,  '梓锦'),
            (     '北坝',     2493,  '百顷'),
            (     '北坝',     2496,  '东山'),
            (     '北坝',     2497,  '北坝'),
            (     '广化',     2498,  '广化'),
            (     '广化',     2494,  '长坪'),
            (     '梓州',     2448,  '梓州'),
            (     '灵兴',     2465,  '灵兴'),
            (     '灵兴',     2470,  '争胜'),
            (     '中新',     2501,  '中新'),
            (     '中新',     2515,  '乐加'),
            (    '上东街',     2500, '东河路'),
            (    '上东街',     2499, '上东街'),
            (    '上东街',     2502, '解放街'),
            (     '塔山',     2441,  '塔山'),
            (     '塔山',     2446,  '忠孝'),
            (     '龙树',     2443,  '龙树'),
            (     '龙树',     2444,  '双胜'),
            (     '富顺',     2503,  '富顺'),
            (     '富顺',     2505,  '秋林'),
            (     '富顺',     2506,  '三元'),
            (     '石安',     2508,  '石安'),
            (     '新德',     2512,  '新德'),
            (     '新德',     2511,  '永新'),
            (     '新生',     2513,  '新生'),
            (     '新生',     2514,  '断石'),
            (     '新生',     2522,  '玉林'),
            (     '观桥',     2523,  '观桥'),
            (     '观桥',     2524, '政府街'),
            (     '观桥',     2528,  '菊河'),
            (     '景福',     2534,  '景福'),
            (     '紫河',     2539,  '紫河'),
            (     '鲁班',     2461,  '幸福'),
            (     '鲁班',     2519,  '水库'),
            (     '鲁班',     2520,  '太林'),
            (     '郪江',     2529,  '安居'),
            (     '郪江',     2530,  '郪江'),
            (     '郪江',     2531,  '建中'),
            (     '乐安',     2542,  '乐安'),
            (     '建平',     2544,  '建平'),
            (     '建平',     2545,  '前锋'),
            (     '建平',     2546,  '红星'),
            (     '西平',     2449,  '西平'),
            (     '西平',     2457,  '中街'),
            (     '西平',     2455,  '上新'),
            (     '八洞',     2450,  '八洞'),
            (     '古井',     2459,  '万安'),
            (     '古井',     2460,  '下新'),
            (     '古井',     2463,  '古井'),
            (     '金石',     2477,  '金石'),
            (     '金石',     2479,  '同德'),
            (     '金石',     2483,  '黎曙'),
            (     '新鲁',     2481,  '新鲁'),
            (     '新鲁',     2482,  '云同'),
            (     '芦溪',     2471,  '芦溪'),
            (     '芦溪',     2474,  '四平'),
            (     '芦溪',     2475,  '建新'),
            (     '芦溪',     2476,  '南街'),
            (     '立新',     2473,  '立新'),
            (     '刘营',     2464,  '刘营'),
            (     '老马',     2468,  '老马'),
            (     '老马',     2491,  '光辉'),
            (     '老马',     2469,  '里程'),
            (     '花园',     2485,  '花园'),
            (     '永明',     2484,  '建设'),
            (     '永明',     2487,  '永明'),
            (     '永明',     2489,  '中太'),
            (     '合计',     '合计',  '合计'),
            (     '合计',     '合计',  '合计'),
            (     '合计',     '合计',  '合计'),
            (  '2022年', '社保卡覆盖率',  '合计'),
            ('2023年7月', '社保卡覆盖率',  '合计'),
            (   '目前完成',    '提长率',  '合计'),
            (     '目标',    '提长率',  '合计'),
            (    '完成率',    '完成率',  '合计')],
           )

In [17]:
df_excel.columns

MultiIndex([( '新增社保卡',       '全年任务'),
            ( '新增社保卡',      '4季度任务'),
            ( '新增社保卡',      '年初发卡量'),
            ( '新增社保卡',      '目前发卡量'),
            ( '新增社保卡',        '完成数'),
            ( '新增社保卡',        '完成率'),
            ( '卡余额净增',       '全年任务'),
            ( '卡余额净增',      '4季度任务'),
            ( '卡余额净增', '2022年社保卡余额'),
            ( '卡余额净增',    '目前社保卡余额'),
            ( '卡余额净增',        '完成数'),
            ( '卡余额净增',        '完成率'),
            ('卡均交易笔数',       '全年任务'),
            ('卡均交易笔数',      '4季度任务'),
            ('卡均交易笔数',        '完成数'),
            ('卡均交易笔数',        '完成率'),
            (  '代发工资',       '全年任务'),
            (  '代发工资',      '4季度任务'),
            (  '代发工资',  '2022年代发户数'),
            (  '代发工资',     '目前代发户数'),
            (  '代发工资',        '完成数'),
            (  '代发工资',        '完成率')],
           )

In [38]:
# 默认是按行index索引,这是切片操作？
df_excel.loc['潼川']

        新增社保卡                                         卡余额净增          \
         全年任务 4季度任务    年初发卡量    目前发卡量   完成数     完成率    全年任务   4季度任务
2492 潼川  55.0  55.0  12128.0  12207.0  79.0  1.4364  1051.0  1051.0
2495 梓锦  30.0  30.0   7138.0   7221.0  83.0  2.7667   528.0   528.0

                                 ... 卡均交易笔数                      代发工资        \
          2022年社保卡余额    目前社保卡余额  ...   全年任务 4季度任务    完成数     完成率 全年任务 4季度任务
2492 潼川  3336.909861  4045.6113  ...   50.0  50.0  39.34  0.7868  2.0   2.0
2495 梓锦  1834.574029  2386.4219  ...   58.0  58.0  48.27  0.8322  0.0   0.0


        2022年代发户数 目前代发户数  完成数  完成率
2492 潼川       1.0    2.0  1.0  0.5
2495 梓锦       1.0    1.0  0.0  NaN

[2 rows x 22 columns]

In [42]:
# 根据外层column取值，再加一层中括号取出来的才是DataFrame的结构
df_excel[['新增社保卡']]

                      新增社保卡
                       全年任务 4季度任务    年初发卡量    目前发卡量   完成数     完成率
营业部     2440   营业部  30.0000  30.0   8628.0   8646.0  18.0  0.6000
潼川      2492   潼川   55.0000  55.0  12128.0  12207.0  79.0  1.4364
        2495   梓锦   30.0000  30.0   7138.0   7221.0  83.0  2.7667
北坝      2493   百顷   35.0000  35.0   3745.0   3745.0   0.0  0.0000
        2496   东山   35.0000  35.0   4878.0   4860.0 -18.0 -0.5143
...                     ...   ...      ...      ...   ...     ...
2022年   社保卡覆盖率 合计    0.5439   NaN      NaN      NaN   NaN     NaN
2023年7月 社保卡覆盖率 合计    0.5477   NaN      NaN      NaN   NaN     NaN
目前完成    提长率    合计    0.0038   NaN      NaN      NaN   NaN     NaN
目标      提长率    合计    0.0027   NaN      NaN      NaN   NaN     NaN
完成率     完成率    合计    1.4000   NaN      NaN      NaN   NaN     NaN

[77 rows x 6 columns]

In [24]:
df_excel[('新增社保卡','全年任务')]

营业部      2440    营业部    30.000000
潼川       2492    潼川     55.000000
         2495    梓锦     30.000000
北坝       2493    百顷     35.000000
         2496    东山     35.000000
                          ...
2022年    社保卡覆盖率  合计      0.543883
2023年7月  社保卡覆盖率  合计      0.547663
目前完成     提长率     合计      0.003780
目标       提长率     合计      0.002700
完成率      完成率     合计      1.399997
Name: (新增社保卡, 全年任务), Length: 77, dtype: float64

In [7]:
df_excel[[0,1]]

KeyError: '[0 1] not in index'