In [66]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
%matplotlib inline

In [67]:
# 练习：
# 假设有两份成绩单，除了ddd是张三李四王老五之外，还有ddd4是张三和赵小六的成绩单，如何合并？
# 如果ddd4张三的名字被打错了，成为了张十三，怎么办？
# 自行练习多对一，多对多的情况
# 自学left_index,right_index

In [68]:
ddd = DataFrame(data={
    'python': np.random.randint(0, 100, size=3),
    'java': np.random.randint(50, 100, size=3),
    'c': np.random.randint(20, 80, size=3)
},
    index=np.array(['张三', '李四', '王五'])
)
ddd

    python  java   c
张三      34    50  78
李四      53    62  78
王五      32    64  64

In [69]:
ddd4 = DataFrame(data={
    'python': np.random.randint(0, 100, size=2),
    'java': np.random.randint(50, 100, size=2),
    'c': np.random.randint(20, 80, size=2)
},
    index=np.array(['张三', '赵小六'])
)
ddd4.loc['张三'] = ddd.loc['张三']
ddd4

     python  java   c
张三       34    50  78
赵小六      46    78  53

In [70]:
df1 = ddd.stack().unstack(0)
df1

        张三  李四  王五
python  34  53  32
java    50  62  64
c       78  78  64

In [71]:
df2 = ddd4.stack().unstack(0)
df2

        张三  赵小六
python  34   46
java    50   78
c       78   53

In [72]:
df3 = pd.merge(df1, df2).set_index(df1.index)
df3

        张三  李四  王五  赵小六
python  34  53  32   46
java    50  62  64   78
c       78  78  64   53

In [73]:
# 假设两个同学都叫李四，ddd5，ddd6都是张三和李四的成绩表，如何合并？
ddd5 = DataFrame(data={
    'java': np.random.randint(1, 100, size=4),
    'python': np.random.randint(1, 100, size=4),
    'c': np.random.randint(1, 100, size=4)
}, index=np.array(['李四', '王老五', '赵小六', '张三']))
ddd5 = ddd5.stack().unstack(level=0)
ddd5

        李四  王老五  赵小六  张三
java    50    5   45  41
python  80   91   90  84
c       58   74   44  97

In [74]:
# 假设两个同学都叫李四，ddd5，ddd6都是张三和李四的成绩表，如何合并？
ddd6 = DataFrame(data={
    'java': np.random.randint(1, 100, size=2),
    'python': np.random.randint(1, 100, size=2),
    'c': np.random.randint(1, 100, size=2)
}, index=np.array(['张三', '李四']))
ddd6 = ddd6.stack().unstack(level=0)
ddd6

        张三  李四
java    35  17
python  49  32
c       97  97

In [75]:
# 通过使用suffixes加后缀
pd.merge(ddd5, ddd6, on="张三", suffixes=['_ddd5', '_ddd6'])

   李四_ddd5  王老五  赵小六  张三  李四_ddd6
0       58   74   44  97       97