In [14]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
%matplotlib inline

In [15]:
df  =DataFrame(data=np.random.randint(0,100,size=(10,4)),columns=['python','java','c','php'] )
df.loc[1]=df.loc[5]
df.loc[2]=df.loc[9]
df.loc[4]=df.loc[8]
df

   python  java   c  php
0      65    88  39   61
1      22    57  45   27
2      39    35  87   67
3      44     9  22   76
4      54    60  99   45
5      22    57  45   27
6      45    72  39   31
7      85    62  81   99
8      54    60  99   45
9      39    35  87   67

In [16]:
# 查看重复列
# subset=  确定标准赛选列，根据哪些列来赛选重复值
# keep=first，第一次出现的保留为正常值，后面出现的为重复值，默认first，保留重复值中出现的第一次 last保留最后一次出现的
df.duplicated(keep='first')

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
8     True
9     True
dtype: bool

In [17]:
df.loc[df.duplicated(keep='last')]

   python  java   c  php
1      22    57  45   27
2      39    35  87   67
4      54    60  99   45

In [18]:
df.loc[1,'python'] = 100

# 使用子集

df.duplicated(keep='last',subset=['java','c','php'])

0    False
1     True
2     True
3    False
4     True
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [19]:
# 根据子集来赛选重复值
df.duplicated(keep='last',subset=['java','c','php'])

0    False
1     True
2     True
3    False
4     True
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [20]:
# 根据子集来赛选重复值

# 加～可以进行反向重置值
~df.duplicated(keep='last',subset=['java','c','php'])

0     True
1    False
2    False
3     True
4    False
5     True
6     True
7     True
8     True
9     True
dtype: bool