In [410]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [411]:
score_stand = pd.read_excel('/Users/fengliang/Documents/workspace/PandasProject/DataSource/体侧成绩评分表.xls',header=[0,1]) 
score_stand

    男肺活量       女肺活量      男50米跑      女50米跑       男体前屈       ...  女跳远       \
      成绩   分数    成绩   分数    成绩   分数    成绩   分数    成绩   分数  ...   成绩   分数
0   4540  100  3150  100   7.1  100   7.8  100  23.6  100  ...  204  100
1   4420   95  3100   95   7.2   95   7.9   95  21.5   95  ...  198   95
2   4300   90  3050   90   7.3   90   8.0   90  19.4   90  ...  192   90
3   4050   85  2900   85   7.4   85   8.3   85  17.2   85  ...  185   85
4   3800   80  2750   80   7.5   80   8.6   80  15.0   80  ...  178   80
5   3680   78  2650   78   7.7   78   8.8   78  13.6   78  ...  175   78
6   3560   76  2550   76   7.9   76   9.0   76  12.2   76  ...  172   76
7   3440   74  2450   74   8.1   74   9.2   74  10.8   74  ...  169   74
8   3320   72  2350   72   8.3   72   9.4   72   9.4   72  ...  166   72
9   3200   70  2250   70   8.5   70   9.6   70   8.0   70  ...  163   70
10  3080   68  2150   68   8.7   68   9.8   68   6.6   68  ...  160   68
11  2960   66  2050   66   8.9   66  10.0   66   5.2   66  ...  157   66
12  2840   64  1950   64   9.1   64  10.2   64   3.8   64  ...  154   64
13  2720   62  1850   62   9.3   62  10.4   62   2.4   62  ...  151   62
14  2600   60  1750   60   9.5   60  10.6   60   1.0   60  ...  148   60
15  2470   50  1710   50   9.7   50  10.8   50   0.0   50  ...  143   50
16  2340   40  1670   40   9.9   40  11.0   40  -1.0   40  ...  138   40
17  2210   30  1630   30  10.1   30  11.2   30  -2.0   30  ...  133   30
18  2080   20  1590   20  10.3   20  11.4   20  -3.0   20  ...  128   20
19  1950   10  1550   10  10.5   10  11.6   10  -4.0   10  ...  123   10

     男引体      女仰卧      男1000米跑      女800米跑
      成绩   分数  成绩   分数      成绩   分数     成绩   分数
0   16.0  100  53  100   3'30"  100  3'24"  100
1   15.0   95  51   95   3'35"   95  3'30"   95
2   14.0   90  49   90   3'40"   90  3'36"   90
3   13.0   85  46   85   3'47"   85  3'43"   85
4   12.0   80  43   80   3'55"   80  3'50"   80
5    NaN   78  41   78   4'00"   78  3'55"   78
6   11.0   76  39   76   4'05"   76  4'00"   76
7    NaN   74  37   74   4'10"   74  4'05"   74
8   10.0   72  35   72   4'15"   72  4'10"   72
9    NaN   70  33   70   4'20"   70  4'15"   70
10   9.0   68  31   68   4'25"   68  4'20"   68
11   NaN   66  29   66   4'30"   66  4'25"   66
12   8.0   64  27   64   4'35"   64  4'30"   64
13   NaN   62  25   62   4'40"   62  4'35"   62
14   7.0   60  23   60   4'45"   60  4'40"   60
15   6.0   50  21   50   5'05"   50  4'50"   50
16   5.0   40  19   40   5'25"   40  5'00"   40
17   4.0   30  17   30   5'45"   30  5'10"   30
18   3.0   20  15   20   6'05"   20  5'20"   20
19   2.0   10  13   10   6'25"   10  5'30"   10

[20 rows x 24 columns]

In [412]:
score_stand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   (男肺活量, 成绩)     20 non-null     int64
 1   (男肺活量, 分数)     20 non-null     int64
 2   (女肺活量, 成绩)     20 non-null     int64
 3   (女肺活量, 分数)     20 non-null     int64
 4   (男50米跑, 成绩)    20 non-null     float64
 5   (男50米跑, 分数)    20 non-null     int64
 6   (女50米跑, 成绩)    20 non-null     float64
 7   (女50米跑, 分数)    20 non-null     int64
 8   (男体前屈, 成绩)     20 non-null     float64
 9   (男体前屈, 分数)     20 non-null     int64
 10  (女体前屈, 成绩)     20 non-null     float64
 11  (女体前屈, 分数)     20 non-null     int64
 12  (男跳远, 成绩)      20 non-null     int64
 13  (男跳远, 分数)      20 non-null     int64
 14  (女跳远, 成绩)      20 non-null     int64
 15  (女跳远, 分数)      20 non-null     int64
 16  (男引体, 成绩)      15 non-null     float64
 17  (男引体, 分数)      20 non-null     int64
 18  (女仰卧, 成绩)      20 non-null     int64
 19  (女仰卧, 分数)      20 non-null     int64
 20  (男1000米跑, 成绩)  20 non-null     object
 21  (男1000米跑, 分数)  20 non-null     int64
 22  (女800米跑, 成绩)   20 non-null     object
 23  (女800米跑, 分数)   20 non-null     int64
dtypes: float64(5), int64(17), object(2)
memory usage: 3.9+ KB

In [413]:
score_stand.loc[score_stand.isnull().any(axis=1)]

    男肺活量      女肺活量     男50米跑     女50米跑      男体前屈      ...  女跳远     男引体      \
      成绩  分数    成绩  分数    成绩  分数    成绩  分数    成绩  分数  ...   成绩  分数  成绩  分数
5   3680  78  2650  78   7.7  78   8.8  78  13.6  78  ...  175  78 NaN  78
7   3440  74  2450  74   8.1  74   9.2  74  10.8  74  ...  169  74 NaN  74
9   3200  70  2250  70   8.5  70   9.6  70   8.0  70  ...  163  70 NaN  70
11  2960  66  2050  66   8.9  66  10.0  66   5.2  66  ...  157  66 NaN  66
13  2720  62  1850  62   9.3  62  10.4  62   2.4  62  ...  151  62 NaN  62

   女仰卧     男1000米跑     女800米跑
    成绩  分数      成绩  分数     成绩  分数
5   41  78   4'00"  78  3'55"  78
7   37  74   4'10"  74  4'05"  74
9   33  70   4'20"  70  4'15"  70
11  29  66   4'30"  66  4'25"  66
13  25  62   4'40"  62  4'35"  62

[5 rows x 24 columns]

In [414]:
boy = pd.read_excel('/Users/fengliang/Documents/workspace/PandasProject/DataSource/18级高一体测成绩汇总.xls').copy()
boy

     班级 性别       姓名 1000米   50米     跳远  体前屈   引体   肺活量   身高    体重
0     1  男  高孜阳0611  4'13  8.88    195   12    1  2785  170  72.6
1     1  男  郝少杰1013  4'16  7.70    225   11    7  3133  174  52.7
2     1  男  郝梓烨0619  4'09  8.45  218.0   14    1  3901  169  46.5
3     1  男  何弘源1010  4'21  8.05    206   13    1  4946  183  79.7
4     1  男  刘硕鹏1212  3'44  7.52    210   13    9  3538  171  54.7
..   .. ..      ...   ...   ...    ...  ...  ...   ...  ...   ...
488  17  男  张乔楠0311  4'23  8.27    208   10    0  4647  176  69.5
489  17  男  郭泽森0333  5'19  9.55    210   15    6  7042  177    76
490  17  男  陈子龙061X  3'25   7.5    252   13   13  5755  181    65
491  17  男  王丹龙0636  4'39  7.81    208   14   11  5688  172  51.7
492  17  男  王玉涵0636   NaN   NaN    NaN  NaN  NaN   NaN  NaN   NaN

[493 rows x 11 columns]

In [415]:
boy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493 entries, 0 to 492
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   班级      493 non-null    object
 1   性别      493 non-null    object
 2   姓名      493 non-null    object
 3   1000米   482 non-null    object
 4   50米     486 non-null    object
 5   跳远      489 non-null    object
 6   体前屈     487 non-null    object
 7   引体      486 non-null    object
 8   肺活量     487 non-null    object
 9   身高      487 non-null    object
 10  体重      483 non-null    object
dtypes: object(11)
memory usage: 42.5+ KB

In [416]:
boy.loc[boy.isnull().any(axis=1)]

     班级  性别       姓名  1000米   50米   跳远  体前屈   引体   肺活量     身高    体重
14    1   男  戎小龙2633      0     0    0    0    0     0      0   NaN
35    2   男   李森0636      0     0    0    0    0     0      0   NaN
38    2   男  吕星繁0312      0     0    0    0    0     0      0   NaN
191  10   男  许嘉麟0050    NaN  9.06  190    9    5  3050    166  46.6
274  12   男  代欣铎061X    NaN     8  200    4    7  4803    178  70.4
283  12   男  李林蕾2611    NaN   NaN    0  NaN  NaN   NaN    NaN   NaN
293  12   男  刘佳泽1019    NaN  7.59  240   12    9  3151    168  49.7
294  班级  性别       姓名  1000米   50米   跳远  体前屈   引体   肺活量  身高/体重   NaN
370  14   男   郭璞2617    NaN   NaN    0  NaN  NaN   NaN    NaN   NaN
397  15   男  刘依林101X    NaN   NaN    0  NaN  NaN   NaN    NaN   NaN
433  16   男   王磊0616    NaN   8.3  230   14    9  6059    181  57.4
435  16   男  王世彬0319    NaN   NaN  NaN   21  NaN  4600    163    60
470  17   男  张世荣0326    NaN   NaN  NaN  NaN  NaN   NaN    NaN   NaN
484  17   男  左一萌1015    NaN   NaN  NaN  NaN  NaN   NaN    NaN   NaN
492  17   男  王玉涵0636    NaN   NaN  NaN  NaN  NaN   NaN    NaN   NaN

In [417]:
temp = boy.loc[:,'1000米':'体重'].copy()
temp

    1000米   50米     跳远  体前屈   引体   肺活量   身高    体重
0    4'13  8.88    195   12    1  2785  170  72.6
1    4'16  7.70    225   11    7  3133  174  52.7
2    4'09  8.45  218.0   14    1  3901  169  46.5
3    4'21  8.05    206   13    1  4946  183  79.7
4    3'44  7.52    210   13    9  3538  171  54.7
..    ...   ...    ...  ...  ...   ...  ...   ...
488  4'23  8.27    208   10    0  4647  176  69.5
489  5'19  9.55    210   15    6  7042  177    76
490  3'25   7.5    252   13   13  5755  181    65
491  4'39  7.81    208   14   11  5688  172  51.7
492   NaN   NaN    NaN  NaN  NaN   NaN  NaN   NaN

[493 rows x 8 columns]

In [418]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493 entries, 0 to 492
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1000米   482 non-null    object
 1   50米     486 non-null    object
 2   跳远      489 non-null    object
 3   体前屈     487 non-null    object
 4   引体      486 non-null    object
 5   肺活量     487 non-null    object
 6   身高      487 non-null    object
 7   体重      483 non-null    object
dtypes: object(8)
memory usage: 30.9+ KB

In [419]:
index = temp.loc[temp.isnull().all(axis=1)].index
index

Index([470, 484, 492], dtype='int64')

In [420]:
boy.loc[index]

     班级 性别       姓名 1000米  50米   跳远  体前屈   引体  肺活量   身高   体重
470  17  男  张世荣0326   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
484  17  男  左一萌1015   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
492  17  男  王玉涵0636   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [421]:
boy.drop(index).info()

<class 'pandas.core.frame.DataFrame'>
Index: 490 entries, 0 to 491
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   班级      490 non-null    object
 1   性别      490 non-null    object
 2   姓名      490 non-null    object
 3   1000米   482 non-null    object
 4   50米     486 non-null    object
 5   跳远      489 non-null    object
 6   体前屈     487 non-null    object
 7   引体      486 non-null    object
 8   肺活量     487 non-null    object
 9   身高      487 non-null    object
 10  体重      483 non-null    object
dtypes: object(11)
memory usage: 45.9+ KB

In [422]:
boy

     班级 性别       姓名 1000米   50米     跳远  体前屈   引体   肺活量   身高    体重
0     1  男  高孜阳0611  4'13  8.88    195   12    1  2785  170  72.6
1     1  男  郝少杰1013  4'16  7.70    225   11    7  3133  174  52.7
2     1  男  郝梓烨0619  4'09  8.45  218.0   14    1  3901  169  46.5
3     1  男  何弘源1010  4'21  8.05    206   13    1  4946  183  79.7
4     1  男  刘硕鹏1212  3'44  7.52    210   13    9  3538  171  54.7
..   .. ..      ...   ...   ...    ...  ...  ...   ...  ...   ...
488  17  男  张乔楠0311  4'23  8.27    208   10    0  4647  176  69.5
489  17  男  郭泽森0333  5'19  9.55    210   15    6  7042  177    76
490  17  男  陈子龙061X  3'25   7.5    252   13   13  5755  181    65
491  17  男  王丹龙0636  4'39  7.81    208   14   11  5688  172  51.7
492  17  男  王玉涵0636   NaN   NaN    NaN  NaN  NaN   NaN  NaN   NaN

[493 rows x 11 columns]

In [423]:
boy['班级'].unique().tolist()

[1, '班级', 2, 3, 4, 5, '6班', 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [424]:
boy2 = boy.loc[boy['班级']!='班级']
boy2['班级'].unique().tolist()

[1, 2, 3, 4, 5, '6班', 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [425]:
boy2['班级'].unique().tolist()

[1, 2, 3, 4, 5, '6班', 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [426]:
boy

     班级 性别       姓名 1000米   50米     跳远  体前屈   引体   肺活量   身高    体重
0     1  男  高孜阳0611  4'13  8.88    195   12    1  2785  170  72.6
1     1  男  郝少杰1013  4'16  7.70    225   11    7  3133  174  52.7
2     1  男  郝梓烨0619  4'09  8.45  218.0   14    1  3901  169  46.5
3     1  男  何弘源1010  4'21  8.05    206   13    1  4946  183  79.7
4     1  男  刘硕鹏1212  3'44  7.52    210   13    9  3538  171  54.7
..   .. ..      ...   ...   ...    ...  ...  ...   ...  ...   ...
488  17  男  张乔楠0311  4'23  8.27    208   10    0  4647  176  69.5
489  17  男  郭泽森0333  5'19  9.55    210   15    6  7042  177    76
490  17  男  陈子龙061X  3'25   7.5    252   13   13  5755  181    65
491  17  男  王丹龙0636  4'39  7.81    208   14   11  5688  172  51.7
492  17  男  王玉涵0636   NaN   NaN    NaN  NaN  NaN   NaN  NaN   NaN

[493 rows x 11 columns]

In [427]:
boy

     班级 性别       姓名 1000米   50米     跳远  体前屈   引体   肺活量   身高    体重
0     1  男  高孜阳0611  4'13  8.88    195   12    1  2785  170  72.6
1     1  男  郝少杰1013  4'16  7.70    225   11    7  3133  174  52.7
2     1  男  郝梓烨0619  4'09  8.45  218.0   14    1  3901  169  46.5
3     1  男  何弘源1010  4'21  8.05    206   13    1  4946  183  79.7
4     1  男  刘硕鹏1212  3'44  7.52    210   13    9  3538  171  54.7
..   .. ..      ...   ...   ...    ...  ...  ...   ...  ...   ...
488  17  男  张乔楠0311  4'23  8.27    208   10    0  4647  176  69.5
489  17  男  郭泽森0333  5'19  9.55    210   15    6  7042  177    76
490  17  男  陈子龙061X  3'25   7.5    252   13   13  5755  181    65
491  17  男  王丹龙0636  4'39  7.81    208   14   11  5688  172  51.7
492  17  男  王玉涵0636   NaN   NaN    NaN  NaN  NaN   NaN  NaN   NaN

[493 rows x 11 columns]

In [428]:
boy3 = boy2
boy3

     班级 性别       姓名 1000米   50米     跳远  体前屈   引体   肺活量   身高    体重
0     1  男  高孜阳0611  4'13  8.88    195   12    1  2785  170  72.6
1     1  男  郝少杰1013  4'16  7.70    225   11    7  3133  174  52.7
2     1  男  郝梓烨0619  4'09  8.45  218.0   14    1  3901  169  46.5
3     1  男  何弘源1010  4'21  8.05    206   13    1  4946  183  79.7
4     1  男  刘硕鹏1212  3'44  7.52    210   13    9  3538  171  54.7
..   .. ..      ...   ...   ...    ...  ...  ...   ...  ...   ...
488  17  男  张乔楠0311  4'23  8.27    208   10    0  4647  176  69.5
489  17  男  郭泽森0333  5'19  9.55    210   15    6  7042  177    76
490  17  男  陈子龙061X  3'25   7.5    252   13   13  5755  181    65
491  17  男  王丹龙0636  4'39  7.81    208   14   11  5688  172  51.7
492  17  男  王玉涵0636   NaN   NaN    NaN  NaN  NaN   NaN  NaN   NaN

[477 rows x 11 columns]

In [429]:
boy2['班级'].replace(to_replace='.*6{1}.*',value=6,regex=True)

0       1
1       1
2       1
3       1
4       1
       ..
488    17
489    17
490    17
491    17
492    17
Name: 班级, Length: 477, dtype: int64

In [430]:
boy3.loc[:,'班级'] = boy2['班级'].replace(to_replace='.*6{1}.*',value=6,regex=True)
boy3

     班级 性别       姓名 1000米   50米     跳远  体前屈   引体   肺活量   身高    体重
0     1  男  高孜阳0611  4'13  8.88    195   12    1  2785  170  72.6
1     1  男  郝少杰1013  4'16  7.70    225   11    7  3133  174  52.7
2     1  男  郝梓烨0619  4'09  8.45  218.0   14    1  3901  169  46.5
3     1  男  何弘源1010  4'21  8.05    206   13    1  4946  183  79.7
4     1  男  刘硕鹏1212  3'44  7.52    210   13    9  3538  171  54.7
..   .. ..      ...   ...   ...    ...  ...  ...   ...  ...   ...
488  17  男  张乔楠0311  4'23  8.27    208   10    0  4647  176  69.5
489  17  男  郭泽森0333  5'19  9.55    210   15    6  7042  177    76
490  17  男  陈子龙061X  3'25   7.5    252   13   13  5755  181    65
491  17  男  王丹龙0636  4'39  7.81    208   14   11  5688  172  51.7
492  17  男  王玉涵0636   NaN   NaN    NaN  NaN  NaN   NaN  NaN   NaN

[477 rows x 11 columns]

In [431]:
boy4 = boy3

In [432]:
boy4

     班级 性别       姓名 1000米   50米     跳远  体前屈   引体   肺活量   身高    体重
0     1  男  高孜阳0611  4'13  8.88    195   12    1  2785  170  72.6
1     1  男  郝少杰1013  4'16  7.70    225   11    7  3133  174  52.7
2     1  男  郝梓烨0619  4'09  8.45  218.0   14    1  3901  169  46.5
3     1  男  何弘源1010  4'21  8.05    206   13    1  4946  183  79.7
4     1  男  刘硕鹏1212  3'44  7.52    210   13    9  3538  171  54.7
..   .. ..      ...   ...   ...    ...  ...  ...   ...  ...   ...
488  17  男  张乔楠0311  4'23  8.27    208   10    0  4647  176  69.5
489  17  男  郭泽森0333  5'19  9.55    210   15    6  7042  177    76
490  17  男  陈子龙061X  3'25   7.5    252   13   13  5755  181    65
491  17  男  王丹龙0636  4'39  7.81    208   14   11  5688  172  51.7
492  17  男  王玉涵0636   NaN   NaN    NaN  NaN  NaN   NaN  NaN   NaN

[477 rows x 11 columns]

In [433]:
score_stand

    男肺活量       女肺活量      男50米跑      女50米跑       男体前屈       ...  女跳远       \
      成绩   分数    成绩   分数    成绩   分数    成绩   分数    成绩   分数  ...   成绩   分数
0   4540  100  3150  100   7.1  100   7.8  100  23.6  100  ...  204  100
1   4420   95  3100   95   7.2   95   7.9   95  21.5   95  ...  198   95
2   4300   90  3050   90   7.3   90   8.0   90  19.4   90  ...  192   90
3   4050   85  2900   85   7.4   85   8.3   85  17.2   85  ...  185   85
4   3800   80  2750   80   7.5   80   8.6   80  15.0   80  ...  178   80
5   3680   78  2650   78   7.7   78   8.8   78  13.6   78  ...  175   78
6   3560   76  2550   76   7.9   76   9.0   76  12.2   76  ...  172   76
7   3440   74  2450   74   8.1   74   9.2   74  10.8   74  ...  169   74
8   3320   72  2350   72   8.3   72   9.4   72   9.4   72  ...  166   72
9   3200   70  2250   70   8.5   70   9.6   70   8.0   70  ...  163   70
10  3080   68  2150   68   8.7   68   9.8   68   6.6   68  ...  160   68
11  2960   66  2050   66   8.9   66  10.0   66   5.2   66  ...  157   66
12  2840   64  1950   64   9.1   64  10.2   64   3.8   64  ...  154   64
13  2720   62  1850   62   9.3   62  10.4   62   2.4   62  ...  151   62
14  2600   60  1750   60   9.5   60  10.6   60   1.0   60  ...  148   60
15  2470   50  1710   50   9.7   50  10.8   50   0.0   50  ...  143   50
16  2340   40  1670   40   9.9   40  11.0   40  -1.0   40  ...  138   40
17  2210   30  1630   30  10.1   30  11.2   30  -2.0   30  ...  133   30
18  2080   20  1590   20  10.3   20  11.4   20  -3.0   20  ...  128   20
19  1950   10  1550   10  10.5   10  11.6   10  -4.0   10  ...  123   10

     男引体      女仰卧      男1000米跑      女800米跑
      成绩   分数  成绩   分数      成绩   分数     成绩   分数
0   16.0  100  53  100   3'30"  100  3'24"  100
1   15.0   95  51   95   3'35"   95  3'30"   95
2   14.0   90  49   90   3'40"   90  3'36"   90
3   13.0   85  46   85   3'47"   85  3'43"   85
4   12.0   80  43   80   3'55"   80  3'50"   80
5    NaN   78  41   78   4'00"   78  3'55"   78
6   11.0   76  39   76   4'05"   76  4'00"   76
7    NaN   74  37   74   4'10"   74  4'05"   74
8   10.0   72  35   72   4'15"   72  4'10"   72
9    NaN   70  33   70   4'20"   70  4'15"   70
10   9.0   68  31   68   4'25"   68  4'20"   68
11   NaN   66  29   66   4'30"   66  4'25"   66
12   8.0   64  27   64   4'35"   64  4'30"   64
13   NaN   62  25   62   4'40"   62  4'35"   62
14   7.0   60  23   60   4'45"   60  4'40"   60
15   6.0   50  21   50   5'05"   50  4'50"   50
16   5.0   40  19   40   5'25"   40  5'00"   40
17   4.0   30  17   30   5'45"   30  5'10"   30
18   3.0   20  15   20   6'05"   20  5'20"   20
19   2.0   10  13   10   6'25"   10  5'30"   10

[20 rows x 24 columns]

In [434]:
# 男肺活量

vital = score_stand['男肺活量']
vital

      成绩   分数
0   4540  100
1   4420   95
2   4300   90
3   4050   85
4   3800   80
5   3680   78
6   3560   76
7   3440   74
8   3320   72
9   3200   70
10  3080   68
11  2960   66
12  2840   64
13  2720   62
14  2600   60
15  2470   50
16  2340   40
17  2210   30
18  2080   20
19  1950   10

In [435]:
vital['成绩']

0     4540
1     4420
2     4300
3     4050
4     3800
5     3680
6     3560
7     3440
8     3320
9     3200
10    3080
11    2960
12    2840
13    2720
14    2600
15    2470
16    2340
17    2210
18    2080
19    1950
Name: 成绩, dtype: int64

In [436]:
for x in vital['成绩']:
    print(x)

4540
4420
4300
4050
3800
3680
3560
3440
3320
3200
3080
2960
2840
2720
2600
2470
2340
2210
2080
1950

In [437]:
vital['成绩'] == 2960

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11     True
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
Name: 成绩, dtype: bool

In [438]:
# 根据肺活量原始成绩，返回评分
vital = score_stand['男肺活量']

def boy_vital(x):
    for score in vital['成绩']:
        if x >= score:
           return vital['分数'].loc[vital['成绩'] == score].values[0]
    return 0

In [439]:
boy_vital(5000)

100

In [440]:
boy4['肺活量得分'] = boy4['肺活量'].map(boy_vital)
boy4

/var/folders/dy/928gcgsd22s9cmd5h8gf7vx40000gn/T/ipykernel_74051/3155538378.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  boy4['肺活量得分'] = boy4['肺活量'].map(boy_vital)

     班级 性别       姓名 1000米   50米     跳远  体前屈   引体   肺活量   身高    体重  肺活量得分
0     1  男  高孜阳0611  4'13  8.88    195   12    1  2785  170  72.6     62
1     1  男  郝少杰1013  4'16  7.70    225   11    7  3133  174  52.7     68
2     1  男  郝梓烨0619  4'09  8.45  218.0   14    1  3901  169  46.5     80
3     1  男  何弘源1010  4'21  8.05    206   13    1  4946  183  79.7    100
4     1  男  刘硕鹏1212  3'44  7.52    210   13    9  3538  171  54.7     74
..   .. ..      ...   ...   ...    ...  ...  ...   ...  ...   ...    ...
488  17  男  张乔楠0311  4'23  8.27    208   10    0  4647  176  69.5    100
489  17  男  郭泽森0333  5'19  9.55    210   15    6  7042  177    76    100
490  17  男  陈子龙061X  3'25   7.5    252   13   13  5755  181    65    100
491  17  男  王丹龙0636  4'39  7.81    208   14   11  5688  172  51.7    100
492  17  男  王玉涵0636   NaN   NaN    NaN  NaN  NaN   NaN  NaN   NaN      0

[477 rows x 12 columns]

In [441]:
boy5 =boy4 
boy5

     班级 性别       姓名 1000米   50米     跳远  体前屈   引体   肺活量   身高    体重  肺活量得分
0     1  男  高孜阳0611  4'13  8.88    195   12    1  2785  170  72.6     62
1     1  男  郝少杰1013  4'16  7.70    225   11    7  3133  174  52.7     68
2     1  男  郝梓烨0619  4'09  8.45  218.0   14    1  3901  169  46.5     80
3     1  男  何弘源1010  4'21  8.05    206   13    1  4946  183  79.7    100
4     1  男  刘硕鹏1212  3'44  7.52    210   13    9  3538  171  54.7     74
..   .. ..      ...   ...   ...    ...  ...  ...   ...  ...   ...    ...
488  17  男  张乔楠0311  4'23  8.27    208   10    0  4647  176  69.5    100
489  17  男  郭泽森0333  5'19  9.55    210   15    6  7042  177    76    100
490  17  男  陈子龙061X  3'25   7.5    252   13   13  5755  181    65    100
491  17  男  王丹龙0636  4'39  7.81    208   14   11  5688  172  51.7    100
492  17  男  王玉涵0636   NaN   NaN    NaN  NaN  NaN   NaN  NaN   NaN      0

[477 rows x 12 columns]

In [442]:
boy5[boy5['肺活量得分'].isnull()]

Empty DataFrame
Columns: [班级, 性别, 姓名, 1000米, 50米, 跳远, 体前屈, 引体, 肺活量, 身高, 体重, 肺活量得分]
Index: []

In [443]:
# 开始处理50米跑成绩
# 查看类型 字符串类型
boy5['50米'].dtype

dtype('O')

In [445]:
boy5['50米'].unique().tolist()

['8.88',
 '7.70',
 '8.45',
 '8.05',
 '7.52',
 '7.94',
 '7.75',
 '8.06',
 '7.38',
 '7.82',
 '7.37',
 '7.66',
 '0',
 '7.60',
 '8.14',
 '7.20',
 '8.15',
 '7.85',
 '7.23',
 '7.68',
 '8.30',
 '7.55',
 '7.89',
 '8.19',
 '8.21',
 '8.71',
 7.97,
 0,
 8.79,
 7.37,
 7.77,
 8.8,
 '6.89',
 7.25,
 7.36,
 8.17,
 7.8,
 8.06,
 8.16,
 8.27,
 8.5,
 6.72,
 9.25,
 7.48,
 8.38,
 7.12,
 6.91,
 7.88,
 7.2,
 8.25,
 7.84,
 8.03,
 9.72,
 7.94,
 7.6,
 8.95,
 8,
 9.01,
 7.44,
 7.91,
 8.64,
 6.97,
 7.49,
 7.62,
 8.77,
 7.38,
 8.02,
 7.98,
 8.21,
 8.7,
 7.55,
 7.13,
 8.56,
 8.13,
 7.39,
 7.23,
 6.65,
 7.01,
 1.05,
 7.05,
 7.5,
 8.31,
 7.66,
 7.79,
 8.55,
 7.87,
 8.28,
 8.3,
 8.29,
 8.63,
 7.9,
 9.49,
 8.44,
 8.51,
 8.23,
 8.49,
 10.02,
 8.73,
 7.7,
 9.97,
 8.75,
 7.89,
 7.67,
 8.91,
 8.2,
 9.38,
 9.5,
 7.16,
 8.58,
 8.19,
 7.14,
 8.53,
 7.51,
 8.09,
 7.68,
 8.01,
 8.67,
 8.39,
 7.75,
 8.69,
 8.61,
 8.18,
 9.31,
 8.59,
 9.06,
 7.4,
 8.4,
 7.32,
 8.6,
 9.32,
 8.1,
 9.44,
 8.37,
 8.05,
 7.63,
 7.74,
 9,
 8.34,
 8.11,
 7.35,
 8.12,
 8.52,
 7.82,
 7.52,
 7.42,
 7.34,
 7.69,
 8.04,
 8.08,
 7.54,
 7.59,
 7.31,
 8.45,
 7.99,
 8.26,
 9.28,
 nan,
 7.92,
 7.86,
 7.04,
 7.56,
 7.76,
 7.83,
 9.09,
 7.22,
 8.15,
 7.78,
 7.64,
 8.22,
 8.57,
 8.36,
 9.1,
 5.96,
 5.88,
 9.29,
 7.19,
 8.96,
 8.89,
 8.54,
 8.99,
 7.81,
 7.65,
 7.73,
 7.72,
 8.41,
 8.65,
 8.72,
 8.24,
 9.17,
 7.45,
 8.9,
 9.77,
 7.96,
 9.46,
 8.87,
 8.86,
 7.85,
 7.3,
 9.3,
 9.02,
 8.46,
 7.57,
 8.76,
 9.55]

In [450]:
# 对数组类型进行强制转换
boy5['50米'].astype(float)
boy6 = boy5

In [484]:
boy6.loc[:,'50米'] = boy6['50米'].astype(float)
boy6['50米'].dtype

dtype('float64')

In [489]:
score_stand['男50米跑']['成绩']

0      7.1
1      7.2
2      7.3
3      7.4
4      7.5
5      7.7
6      7.9
7      8.1
8      8.3
9      8.5
10     8.7
11     8.9
12     9.1
13     9.3
14     9.5
15     9.7
16     9.9
17    10.1
18    10.3
19    10.5
Name: 成绩, dtype: float64

In [568]:
df_50M = score_stand['男50米跑']
def map_50M(x):
    for score in df_50M['成绩']:
        if x <= score:
            return df_50M.loc[df_50M['成绩'] == score]['分数'].values[0]
    return 0.0

In [569]:
map_50M(8)

74

In [570]:
boy6['50米'].map(map_50M)

0      66.0
1      78.0
2      70.0
3      74.0
4      78.0
       ...
488    72.0
489    50.0
490    80.0
491    76.0
492     0.0
Name: 50米, Length: 477, dtype: float64