In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [7]:
scoring_stand = pd.read_excel('/Users/fengliang/Documents/workspace/Pandas&Matplotlib/DataSource/体侧成绩评分表.xls',header=[0,1]) 
scoring_stand

    男肺活量       女肺活量      男50米跑      女50米跑       男体前屈       ...  女跳远       \
      成绩   分数    成绩   分数    成绩   分数    成绩   分数    成绩   分数  ...   成绩   分数
0   4540  100  3150  100   7.1  100   7.8  100  23.6  100  ...  204  100
1   4420   95  3100   95   7.2   95   7.9   95  21.5   95  ...  198   95
2   4300   90  3050   90   7.3   90   8.0   90  19.4   90  ...  192   90
3   4050   85  2900   85   7.4   85   8.3   85  17.2   85  ...  185   85
4   3800   80  2750   80   7.5   80   8.6   80  15.0   80  ...  178   80
5   3680   78  2650   78   7.7   78   8.8   78  13.6   78  ...  175   78
6   3560   76  2550   76   7.9   76   9.0   76  12.2   76  ...  172   76
7   3440   74  2450   74   8.1   74   9.2   74  10.8   74  ...  169   74
8   3320   72  2350   72   8.3   72   9.4   72   9.4   72  ...  166   72
9   3200   70  2250   70   8.5   70   9.6   70   8.0   70  ...  163   70
10  3080   68  2150   68   8.7   68   9.8   68   6.6   68  ...  160   68
11  2960   66  2050   66   8.9   66  10.0   66   5.2   66  ...  157   66
12  2840   64  1950   64   9.1   64  10.2   64   3.8   64  ...  154   64
13  2720   62  1850   62   9.3   62  10.4   62   2.4   62  ...  151   62
14  2600   60  1750   60   9.5   60  10.6   60   1.0   60  ...  148   60
15  2470   50  1710   50   9.7   50  10.8   50   0.0   50  ...  143   50
16  2340   40  1670   40   9.9   40  11.0   40  -1.0   40  ...  138   40
17  2210   30  1630   30  10.1   30  11.2   30  -2.0   30  ...  133   30
18  2080   20  1590   20  10.3   20  11.4   20  -3.0   20  ...  128   20
19  1950   10  1550   10  10.5   10  11.6   10  -4.0   10  ...  123   10

     男引体      女仰卧      男1000米跑      女800米跑
      成绩   分数  成绩   分数      成绩   分数     成绩   分数
0   16.0  100  53  100   3'30"  100  3'24"  100
1   15.0   95  51   95   3'35"   95  3'30"   95
2   14.0   90  49   90   3'40"   90  3'36"   90
3   13.0   85  46   85   3'47"   85  3'43"   85
4   12.0   80  43   80   3'55"   80  3'50"   80
5    NaN   78  41   78   4'00"   78  3'55"   78
6   11.0   76  39   76   4'05"   76  4'00"   76
7    NaN   74  37   74   4'10"   74  4'05"   74
8   10.0   72  35   72   4'15"   72  4'10"   72
9    NaN   70  33   70   4'20"   70  4'15"   70
10   9.0   68  31   68   4'25"   68  4'20"   68
11   NaN   66  29   66   4'30"   66  4'25"   66
12   8.0   64  27   64   4'35"   64  4'30"   64
13   NaN   62  25   62   4'40"   62  4'35"   62
14   7.0   60  23   60   4'45"   60  4'40"   60
15   6.0   50  21   50   5'05"   50  4'50"   50
16   5.0   40  19   40   5'25"   40  5'00"   40
17   4.0   30  17   30   5'45"   30  5'10"   30
18   3.0   20  15   20   6'05"   20  5'20"   20
19   2.0   10  13   10   6'25"   10  5'30"   10

[20 rows x 24 columns]

In [8]:
scoring_stand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   (男肺活量, 成绩)     20 non-null     int64
 1   (男肺活量, 分数)     20 non-null     int64
 2   (女肺活量, 成绩)     20 non-null     int64
 3   (女肺活量, 分数)     20 non-null     int64
 4   (男50米跑, 成绩)    20 non-null     float64
 5   (男50米跑, 分数)    20 non-null     int64
 6   (女50米跑, 成绩)    20 non-null     float64
 7   (女50米跑, 分数)    20 non-null     int64
 8   (男体前屈, 成绩)     20 non-null     float64
 9   (男体前屈, 分数)     20 non-null     int64
 10  (女体前屈, 成绩)     20 non-null     float64
 11  (女体前屈, 分数)     20 non-null     int64
 12  (男跳远, 成绩)      20 non-null     int64
 13  (男跳远, 分数)      20 non-null     int64
 14  (女跳远, 成绩)      20 non-null     int64
 15  (女跳远, 分数)      20 non-null     int64
 16  (男引体, 成绩)      15 non-null     float64
 17  (男引体, 分数)      20 non-null     int64
 18  (女仰卧, 成绩)      20 non-null     int64
 19  (女仰卧, 分数)      20 non-null     int64
 20  (男1000米跑, 成绩)  20 non-null     object
 21  (男1000米跑, 分数)  20 non-null     int64
 22  (女800米跑, 成绩)   20 non-null     object
 23  (女800米跑, 分数)   20 non-null     int64
dtypes: float64(5), int64(17), object(2)
memory usage: 3.9+ KB

In [21]:
scoring_stand.loc[scoring_stand.isnull().any(axis=1)]

    男肺活量      女肺活量     男50米跑     女50米跑      男体前屈      ...  女跳远     男引体      \
      成绩  分数    成绩  分数    成绩  分数    成绩  分数    成绩  分数  ...   成绩  分数  成绩  分数
5   3680  78  2650  78   7.7  78   8.8  78  13.6  78  ...  175  78 NaN  78
7   3440  74  2450  74   8.1  74   9.2  74  10.8  74  ...  169  74 NaN  74
9   3200  70  2250  70   8.5  70   9.6  70   8.0  70  ...  163  70 NaN  70
11  2960  66  2050  66   8.9  66  10.0  66   5.2  66  ...  157  66 NaN  66
13  2720  62  1850  62   9.3  62  10.4  62   2.4  62  ...  151  62 NaN  62

   女仰卧     男1000米跑     女800米跑
    成绩  分数      成绩  分数     成绩  分数
5   41  78   4'00"  78  3'55"  78
7   37  74   4'10"  74  4'05"  74
9   33  70   4'20"  70  4'15"  70
11  29  66   4'30"  66  4'25"  66
13  25  62   4'40"  62  4'35"  62

[5 rows x 24 columns]

In [23]:
grade_18 = pd.read_excel('/Users/fengliang/Documents/workspace/Pandas&Matplotlib/DataSource/18级高一体测成绩汇总.xls')
grade_18

     班级 性别       姓名 1000米   50米     跳远  体前屈   引体   肺活量   身高    体重
0     1  男  高孜阳0611  4'13  8.88    195   12    1  2785  170  72.6
1     1  男  郝少杰1013  4'16  7.70    225   11    7  3133  174  52.7
2     1  男  郝梓烨0619  4'09  8.45  218.0   14    1  3901  169  46.5
3     1  男  何弘源1010  4'21  8.05    206   13    1  4946  183  79.7
4     1  男  刘硕鹏1212  3'44  7.52    210   13    9  3538  171  54.7
..   .. ..      ...   ...   ...    ...  ...  ...   ...  ...   ...
488  17  男  张乔楠0311  4'23  8.27    208   10    0  4647  176  69.5
489  17  男  郭泽森0333  5'19  9.55    210   15    6  7042  177    76
490  17  男  陈子龙061X  3'25   7.5    252   13   13  5755  181    65
491  17  男  王丹龙0636  4'39  7.81    208   14   11  5688  172  51.7
492  17  男  王玉涵0636   NaN   NaN    NaN  NaN  NaN   NaN  NaN   NaN

[493 rows x 11 columns]

In [24]:
grade_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493 entries, 0 to 492
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   班级      493 non-null    object
 1   性别      493 non-null    object
 2   姓名      493 non-null    object
 3   1000米   482 non-null    object
 4   50米     486 non-null    object
 5   跳远      489 non-null    object
 6   体前屈     487 non-null    object
 7   引体      486 non-null    object
 8   肺活量     487 non-null    object
 9   身高      487 non-null    object
 10  体重      483 non-null    object
dtypes: object(11)
memory usage: 42.5+ KB

In [32]:
grade_18.loc[grade_18.isnull().any(axis=1)]

     班级  性别       姓名  1000米   50米   跳远  体前屈   引体   肺活量     身高    体重
14    1   男  戎小龙2633      0     0    0    0    0     0      0   NaN
35    2   男   李森0636      0     0    0    0    0     0      0   NaN
38    2   男  吕星繁0312      0     0    0    0    0     0      0   NaN
191  10   男  许嘉麟0050    NaN  9.06  190    9    5  3050    166  46.6
274  12   男  代欣铎061X    NaN     8  200    4    7  4803    178  70.4
283  12   男  李林蕾2611    NaN   NaN    0  NaN  NaN   NaN    NaN   NaN
293  12   男  刘佳泽1019    NaN  7.59  240   12    9  3151    168  49.7
294  班级  性别       姓名  1000米   50米   跳远  体前屈   引体   肺活量  身高/体重   NaN
370  14   男   郭璞2617    NaN   NaN    0  NaN  NaN   NaN    NaN   NaN
397  15   男  刘依林101X    NaN   NaN    0  NaN  NaN   NaN    NaN   NaN
433  16   男   王磊0616    NaN   8.3  230   14    9  6059    181  57.4
435  16   男  王世彬0319    NaN   NaN  NaN   21  NaN  4600    163    60
470  17   男  张世荣0326    NaN   NaN  NaN  NaN  NaN   NaN    NaN   NaN
484  17   男  左一萌1015    NaN   NaN  NaN  NaN  NaN   NaN    NaN   NaN
492  17   男  王玉涵0636    NaN   NaN  NaN  NaN  NaN   NaN    NaN   NaN

In [46]:
temp = grade_18.loc[:,'1000米':'体重'].copy()
temp

    1000米   50米     跳远  体前屈   引体   肺活量   身高    体重
0    4'13  8.88    195   12    1  2785  170  72.6
1    4'16  7.70    225   11    7  3133  174  52.7
2    4'09  8.45  218.0   14    1  3901  169  46.5
3    4'21  8.05    206   13    1  4946  183  79.7
4    3'44  7.52    210   13    9  3538  171  54.7
..    ...   ...    ...  ...  ...   ...  ...   ...
488  4'23  8.27    208   10    0  4647  176  69.5
489  5'19  9.55    210   15    6  7042  177    76
490  3'25   7.5    252   13   13  5755  181    65
491  4'39  7.81    208   14   11  5688  172  51.7
492   NaN   NaN    NaN  NaN  NaN   NaN  NaN   NaN

[493 rows x 8 columns]

In [48]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493 entries, 0 to 492
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1000米   482 non-null    object
 1   50米     486 non-null    object
 2   跳远      489 non-null    object
 3   体前屈     487 non-null    object
 4   引体      486 non-null    object
 5   肺活量     487 non-null    object
 6   身高      487 non-null    object
 7   体重      483 non-null    object
dtypes: object(8)
memory usage: 30.9+ KB

In [58]:
index = temp.loc[temp.isnull().all(axis=1)].index
index

Index([470, 484, 492], dtype='int64')

In [60]:
grade_18.loc[index]

     班级 性别       姓名 1000米  50米   跳远  体前屈   引体  肺活量   身高   体重
470  17  男  张世荣0326   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
484  17  男  左一萌1015   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
492  17  男  王玉涵0636   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [62]:
grade_18.drop(index).info()

<class 'pandas.core.frame.DataFrame'>
Index: 490 entries, 0 to 491
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   班级      490 non-null    object
 1   性别      490 non-null    object
 2   姓名      490 non-null    object
 3   1000米   482 non-null    object
 4   50米     486 non-null    object
 5   跳远      489 non-null    object
 6   体前屈     487 non-null    object
 7   引体      486 non-null    object
 8   肺活量     487 non-null    object
 9   身高      487 non-null    object
 10  体重      483 non-null    object
dtypes: object(11)
memory usage: 45.9+ KB